{{ $service := .service }}

<div class="socialmedia-profile-widget">
	<span class="socialmedia-profile-label">
    {{ if eq $service "mastodon" }}<a href="https://joinmastodon.org" class="socialmedia-profile-label-text">Mastodon</a>
		{{ else if eq $service "threema" }}<a href="https://threema.ch/de/home" class="socialmedia-profile-label-text">Threema</a>
    {{ else if eq $service "matrix" }}<a href="https://matrix.org" class="socialmedia-profile-label-text">Matrix</a>
    {{ else if eq $service "keyoxide" }}<a href="https://keyoxide.org" class="socialmedia-profile-label-text">Keyoxide</a>
		{{ else if eq $service "codeberg" }}<a href="https://codeberg.org" class="socialmedia-profile-label-text">Codeberg</a>
		{{ else if eq $service "email" }}<a href="https://tutanota.com" class="socialmedia-profile-label-text">E-Mail</a>
		{{ end }}
  </span>

	<div class="socialmedia-profile-outer">
		<div class="socialmedia-profile">
			{{ if eq $service "mastodon" }}<a title="Folge mir auf Mastodon!" class="socialmedia-profile-inner" href="https://mstdn.social/@pixelcodeapps">
			{{ else if eq $service "threema" }}<a title="Schreib mir auf Threema!" class="socialmedia-profile-inner" href="https://threema.id/28KF76T3">
      {{ else if eq $service "matrix" }}<a title="Schreib mir auf Matrix!" class="socialmedia-profile-inner" href="https://matrix.to/#/@pixelcode:tchncs.de">
      {{ else if eq $service "keyoxide" }}<a title="Check meine Keyoxide-Beweise!" class="socialmedia-profile-inner" href="https://keyoxide.org/AEEF8CDB5ADF2F28016F39E1FBFC237DAF98D402">
			{{ else if eq $service "codeberg" }}<a title="Besuche mich auf Codeberg!" class="socialmedia-profile-inner" href="https://codeberg.org/pixelcode">
				{{ else if eq $service "email" }}<a title="Schreib mir eine Mail!" class="socialmedia-profile-inner" href="mailto:pixelcode@dismail.de">
			{{ end }}
        <span class="social-media-profile-img">
					<span class="social-media-profile-img-link">
					  {{ if eq $service "mastodon" }} {{ with resources.Get "img/own/pixelcode-mastodon.png" }} {{ with .Resize "100x webp" }} <img alt="Pixelcodes Profilbild" class="social-media-img" src="{{ .RelPermalink }}"> {{ end }} {{ end }}
						{{ else if eq $service "threema" }}<img alt="Threema-Icon" class="social-media-img" src="{{ .Site.BaseURL }}/img/foreign/threema-icon-radius.svg">
						{{ else if eq $service "matrix" }}<img alt="Matrix-Logo" class="social-media-img" src="{{ .Site.BaseURL }}/img/foreign/matrix-icon.svg">
            {{ else if eq $service "keyoxide" }}{{ with resources.Get "img/contact/keyoxide-icon.png" }} {{ with .Resize "100x webp" }} <img alt="Keyoxide-Logo" class="social-media-img" src="{{ .RelPermalink }}">{{ end }}{{ end }}
						{{ else if eq $service "codeberg" }}<img alt="Codeberg-Logo" class="social-media-img" src="{{ .Site.BaseURL }}/img/foreign/codeberg-logo_icon_blue.svg">
						{{ else if eq $service "email" }}<img alt="Mail-Icon" class="social-media-img" src="{{ .Site.BaseURL }}/img/foreign/at-solid.svg">
            {{ end }}
          </span>
				</span>

				<span class="social-media-profile-text">
					<span class="social-media-profile-text-inner">
						<span class="social-media-profile-text-span social-media-profile-text-span-top">
	            <span class="social-media-profile-name social-media-profile-link">
								{{ if eq $service "mastodon" }} Pixelcode Apps
								{{ else }} Pixelcode {{ end }}
								{{ if ne $service "threema" }}<i class="bi bi-patch-check-fill"></i>{{ end }}
							</span>
	          </span>

						<!--<br class="social-media-profile-text-br">-->

	          <span class="social-media-profile-text-span social-media-profile-text-span-bottom">
	            <i class="textdecorationnone social-media-profile-at social-media-profile-link">
								{{ if eq $service "mastodon" }}@pixelcodeapps@mstdn.social
								{{ else if eq $service "threema" }}28KF76T3
                {{ else if eq $service "matrix" }}@pixelcode:tchncs.de
                {{ else if eq $service "keyoxide" }}AEEF8CDB5ADF2F28016F39E1FBFC237DAF98D402
								{{ else if eq $service "codeberg" }}codeberg.org/pixelcode
								{{ else if eq $service "email" }}pixelcode@dismail.de
                {{ end }}
							</i>
	          </span>
					</span>
				</span>
			</a>

      {{ if eq $service "mastodon" }}
				<div class="socialmedia-follow-button">
					<a title="Folge mir auf Mastodon!" class="socialmedia-follow-button-inner mastodon-follow-button-inner" href="https://mstdn.social/users/pixelcodeapps/remote_follow">
		        <!--<svg viewBox="0 0 216.4144 232.00976">
		          <use xlink:href="#mastodon-svg-logo">
		            <symbol id="mastodon-svg-logo" viewBox="0 0 216.4144 232.00976">
		              <path d="M107.86523 0C78.203984.2425 49.672422 3.4535937 33.044922 11.089844c0 0-32.97656262 14.752031-32.97656262 65.082031 0 11.525-.224375 25.306175.140625 39.919925 1.19750002 49.22 9.02375002 97.72843 54.53124962 109.77343 20.9825 5.55375 38.99711 6.71547 53.505856 5.91797 26.31125-1.45875 41.08203-9.38867 41.08203-9.38867l-.86914-19.08984s-18.80171 5.92758-39.91796 5.20508c-20.921254-.7175-43.006879-2.25516-46.390629-27.94141-.3125-2.25625-.46875-4.66938-.46875-7.20313 0 0 20.536953 5.0204 46.564449 6.21289 15.915.73001 30.8393-.93343 45.99805-2.74218 29.07-3.47125 54.38125-21.3818 57.5625-37.74805 5.0125-25.78125 4.59961-62.916015 4.59961-62.916015 0-50.33-32.97461-65.082031-32.97461-65.082031C166.80539 3.4535938 138.255.2425 108.59375 0h-.72852zM74.296875 39.326172c12.355 0 21.710234 4.749297 27.896485 14.248047l6.01367 10.080078 6.01563-10.080078c6.185-9.49875 15.54023-14.248047 27.89648-14.248047 10.6775 0 19.28156 3.753672 25.85156 11.076172 6.36875 7.3225 9.53907 17.218828 9.53907 29.673828v60.941408h-24.14454V81.869141c0-12.46875-5.24453-18.798829-15.73828-18.798829-11.6025 0-17.41797 7.508516-17.41797 22.353516v32.375002H96.207031V85.423828c0-14.845-5.815468-22.353515-17.417969-22.353516-10.49375 0-15.740234 6.330079-15.740234 18.798829v59.148439H38.904297V80.076172c0-12.455 3.171016-22.351328 9.541015-29.673828 6.568751-7.3225 15.172813-11.076172 25.851563-11.076172z">
		              </path>
		            </symbol>
		          </use>
		        </svg>-->
	          <i class="bi bi-mastodon"></i>
						<i class="socialmedia-follow-button-text">Folgen</i>
					</a>
				</div>

			{{ else if eq $service "threema" }}
	      <div class="socialmedia-follow-button">
					<a title="Schreib mir auf Threema!" class="socialmedia-follow-button-inner matrix-follow-button-inner" href="https://threema.id/28KF76T3">
		        <i class="bi bi-chat-dots-fill"></i>
						<i class="socialmedia-follow-button-text">Chat</i>
					</a>
				</div>

      {{ else if eq $service "matrix" }}
	      <div class="socialmedia-follow-button">
					<a title="Schreib mir auf Matrix!" class="socialmedia-follow-button-inner matrix-follow-button-inner" href="https://matrix.to/#/@pixelcode:tchncs.de">
		        <i class="bi bi-chat-dots-fill"></i>
						<i class="socialmedia-follow-button-text">Chat</i>
					</a>
				</div>

      {{ else if eq $service "keyoxide" }}
	      <div class="socialmedia-follow-button">
					<a title="Check meine Keyoxide-Beweise!" class="socialmedia-follow-button-inner keyoxide-follow-button-inner" href="https://keyoxide.org/AEEF8CDB5ADF2F28016F39E1FBFC237DAF98D402">
		        <i class="bi bi-shield-fill-check"></i>
						<i class="socialmedia-follow-button-text">Check</i>
					</a>
				</div>

			{{ else if eq $service "codeberg" }}
	      <div class="socialmedia-follow-button">
					<a title="Besuche mich auf Codeberg!" class="socialmedia-follow-button-inner codeberg-follow-button-inner" href="https://codeberg.org/pixelcode">
		        <i class="bi bi-git"></i>
						<i class="socialmedia-follow-button-text">Git</i>
					</a>
				</div>

			{{ else if eq $service "email" }}
	      <div class="socialmedia-follow-button">
					<a title="Schreib mir eine Mail!" class="socialmedia-follow-button-inner email-follow-button-inner" href="mailto:pixelcode@dismail.de">
		        <i class="fa-solid fa-envelope"></i>
						<i class="socialmedia-follow-button-text">E-Mail</i>
					</a>
				</div>
      {{ end }}
		</div>

    {{ if eq $service "mastodon" }}
			<div class="mastodon-follow-button-outer">
				<div class="mastodon-follow-button">
					<a class="mastodon-follow-button-inner" target="_new" href="https://social.tchncs.de/users/pixelcode/remote_follow">
		        <svg viewBox="0 0 216.4144 232.00976" >
		          <use xlink:href="#mastodon-svg-logo">
		            <symbol id="mastodon-svg-logo" viewBox="0 0 216.4144 232.00976">
		              <path d="M107.86523 0C78.203984.2425 49.672422 3.4535937 33.044922 11.089844c0 0-32.97656262 14.752031-32.97656262 65.082031 0 11.525-.224375 25.306175.140625 39.919925 1.19750002 49.22 9.02375002 97.72843 54.53124962 109.77343 20.9825 5.55375 38.99711 6.71547 53.505856 5.91797 26.31125-1.45875 41.08203-9.38867 41.08203-9.38867l-.86914-19.08984s-18.80171 5.92758-39.91796 5.20508c-20.921254-.7175-43.006879-2.25516-46.390629-27.94141-.3125-2.25625-.46875-4.66938-.46875-7.20313 0 0 20.536953 5.0204 46.564449 6.21289 15.915.73001 30.8393-.93343 45.99805-2.74218 29.07-3.47125 54.38125-21.3818 57.5625-37.74805 5.0125-25.78125 4.59961-62.916015 4.59961-62.916015 0-50.33-32.97461-65.082031-32.97461-65.082031C166.80539 3.4535938 138.255.2425 108.59375 0h-.72852zM74.296875 39.326172c12.355 0 21.710234 4.749297 27.896485 14.248047l6.01367 10.080078 6.01563-10.080078c6.185-9.49875 15.54023-14.248047 27.89648-14.248047 10.6775 0 19.28156 3.753672 25.85156 11.076172 6.36875 7.3225 9.53907 17.218828 9.53907 29.673828v60.941408h-24.14454V81.869141c0-12.46875-5.24453-18.798829-15.73828-18.798829-11.6025 0-17.41797 7.508516-17.41797 22.353516v32.375002H96.207031V85.423828c0-14.845-5.815468-22.353515-17.417969-22.353516-10.49375 0-15.740234 6.330079-15.740234 18.798829v59.148439H38.904297V80.076172c0-12.455 3.171016-22.351328 9.541015-29.673828 6.568751-7.3225 15.172813-11.076172 25.851563-11.076172z">
		              </path>
		            </symbol>
		          </use>
		        </svg>Folgen</a>
				</div>
			</div>
    {{ end }}
	</div>
</div>
