{{ $kind := .kind }}

<div class="grammle-card" id="{{ .context.Params.id }}">
  <div class="grammle-card-type-container">
    <a class="grammle-card-id">{{ .context.Params.name }}</a>
  </div>

  <div class="grammle-card-title-container">
    {{ range .context.Params.kategorien }}
      <a title="Alle Regeln in der Kategorie „{{ . | humanize }}“" href="{{ site.BaseURL }}/kategorien/{{ . }}/" class="grammle-card-categories grammle-label grammle-label-{{ substr . 0 1 }}">
        {{ . }}
      </a>
    {{ end }}
  </div>

  {{ if eq .context.Params.arten "fehler" }}
    <div class="grammle-card-content">
      <div class="grammle-card-content-container grammle-card-wrong-container">
        <div class="grammle-card-content-headline grammle-card-content-headline-wrong">
          <i class="bi bi-x-circle"></i>
          <a title="eindeutig inkorrekt" class="grammle-card-content-headline-text">Falsch</a>
        </div>

  {{ else if eq .context.Params.arten "warnung" }}
    <div class="grammle-card-content grammle-card-content-warning">
      <div class="grammle-card-content-container grammle-card-wrong-container grammle-card-warning-container">
        <div class="grammle-card-content-headline grammle-card-content-headline-warning">
          <i class="bi bi-exclamation-diamond"></i>
          <a title="wird gemeinhin als eher falsch angesehen" class="grammle-card-content-headline-text">Eher falsch</a>
        </div>

  {{ else if eq .context.Params.arten "info" }}
    <div class="grammle-card-content grammle-card-content-info">
      <div class="grammle-card-content-container grammle-card-wrong-container grammle-card-info-container">
        <div class="grammle-card-content-headline grammle-card-content-headline-info">
          <i class="bi bi-hand-thumbs-down"></i>
          <a title="lieber nicht verwenden" class="grammle-card-content-headline-text">Nicht empfohlen</a>
        </div>

  {{ else if eq .context.Params.arten "verbrannt" }}
    <div class="grammle-card-content grammle-card-content-verbrannt">
      <div class="grammle-card-content-container grammle-card-wrong-container grammle-card-verbrannt-container">
        <div class="grammle-card-content-headline grammle-card-content-headline-verbrannt">
          <i class="fa-solid fa-skull-crossbones"></i>
          <a title="lieber nicht verwenden" class="grammle-card-content-headline-text">NS-Wortschatz</a>
        </div>
  {{ end }}

      <div class="grammle-card-content-text">
        <a class="grammle-card-wrong">
          {{ .context.Params.wrong | markdownify }}
        </a>
      </div>

      <div class="grammle-card-content-example">
        <a title="sprachlich inkorrektes Beispiel" class="grammle-card-example-wrong">
          {{ .context.Params.wrongex | markdownify }}
        </a>
      </div>
    </div>

    <div class="grammle-card-content-container grammle-card-correct-container">
      <div class="grammle-card-content-headline grammle-card-content-headline-correct">
        {{ if or (eq .context.Params.arten "fehler") (eq .context.Params.arten "warnung") }}
          <i class="bi bi-check-circle"></i>
          <a title="Damit machst du keinen Fehler" class="grammle-card-content-headline-text">Richtig</a>

        {{ else if or (eq .context.Params.arten "info") (eq .context.Params.arten "verbrannt") }}
          <i class="bi bi-hand-thumbs-up"></i>
          <a title="Nimm lieber diese Variante" class="grammle-card-content-headline-text">Empfohlen</a>
        {{ end }}

      </div>

      <div class="grammle-card-content-text">
        <a class="grammle-card-correct">
          {{ .context.Params.correct | markdownify }}
        </a>
      </div>

      <div class="grammle-card-content-example">
        <a title="sprachlich korrektes Beispiel" class="grammle-card-example-wrong">
          {{ .context.Params.correctex | markdownify }}
        </a>
      </div>
    </div>
  </div>

  {{ if or (eq $kind "list") (eq $kind "single") }}
    {{ partial "grammle-card-details.html" (dict "context" .context "kind" $kind) }}
  {{ end }}

  <div class="grammle-card-footer">
    {{ if eq $kind "list" }}
      <a title="Einzelansicht" class="grammle-card-footer-element grammle-card-footer-edit" href="{{ .context.Permalink }}">
        <i class="grammle-card-footer-element-icon bi bi-link-45deg"></i>
        <i class="grammle-card-footer-element-text">Verlinken</i>
      </a>

    {{ else if eq $kind "single" }}
      <a title="Regel bearbeiten" class="grammle-card-footer-element grammle-card-footer-edit" href="{{ site.BaseURL }}/bearbeiten/?kategorie={{ index (.context.Params.kategorien) 0 }}&id={{ .context.Params.id }}">
        <i class="grammle-card-footer-element-icon fa-solid fa-feather"></i>
        <i class="grammle-card-footer-element-text">Bearbeiten</i>
      </a>

    {{ else if eq $kind "small" }}
      <a title="Mehr Informationen" class="grammle-card-footer-element grammle-card-footer-element-single grammle-card-footer-link" href="{{ .context.Permalink }}">
        <!--<i class="fa-solid fa-chevron-right"></i>-->
        <!--<i class="fa-solid fa-circle-chevron-right"></i>-->
        <!--<i class="grammle-card-footer-element-icon bi bi-arrow-right-circle"></i>-->
        <!--<i class="grammle-card-footer-element-icon bi bi-link-45deg"></i>-->
        <i class="grammle-card-footer-element-text">Weitere Infos</i>
        <!--<i class="grammle-card-footer-element-icon bi bi-arrow-right-circle"></i>-->
        <!--<i class="grammle-card-footer-element-icon bi bi-arrow-right-circle"></i>-->
        <!--<i class="fa-solid fa-chevron-right"></i>-->
        <i class="fa-solid fa-circle-chevron-right"></i>
      </a>
    {{ end }}
  </div>
</div>
