{{ $kind := .kind }}

{{ if .context.Params.confusion }}
  <div class="grammle-card-more-container grammle-card-confusion-container">
    <div class="grammle-card-more-headline-container grammle-card-confusion-headline-container">
      <i class="bi bi-exclamation-diamond"></i>
      <a title="Verwechslungsgefahr" class="grammle-card-more-headline grammle-card-confusion-headline">Fehlerquelle</a>
    </div>

    <div class="grammle-card-more-text-container grammle-card-confusion-text-container">
      {{ range .context.Params.confusion }}
        <div class="grammle-confusion">
          <a class="grammle-card-more-text grammle-card-confusion-text">{{ . | markdownify }}</a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ if .context.Params.explanation }}
  <div class="grammle-card-more-container grammle-card-explanation-container">
    <div class="grammle-card-more-headline-container grammle-card-explanation-headline-container">
      <i class="bi bi-question-circle"></i>
      <a title="Warum ist das so?" class="grammle-card-more-headline grammle-card-explanation-headline">Erklärung</a>
    </div>

    <div class="grammle-card-more-text-container grammle-card-explanation-text-container">
      <a class="grammle-card-more-text grammle-card-explanation-text">{{ .context.Params.explanation | markdownify }}</a>
    </div>
  </div>
{{ end }}

{{ if .context.Params.note }}
  <div class="grammle-card-more-container grammle-card-note-container">
    <div class="grammle-card-more-headline-container grammle-card-note-headline-container">
      <i class="bi bi-info-circle"></i>
      <a title="Anmerkung des Autors" class="grammle-card-more-headline grammle-card-note-headline">Info</a>
    </div>

    <div class="grammle-card-more-text-container grammle-card-note-text-container">
      <a class="grammle-card-more-text grammle-card-note-text">{{ .context.Params.note | markdownify }}</a>
    </div>
  </div>
{{ end }}

{{ if isset .context.Params "alt" }}
  <div class="grammle-card-more-container grammle-card-alt-container">
    <div class="grammle-card-more-headline-container grammle-card-alt-headline-container">
      <i class="bi bi-emoji-smile"></i>
      <a title="den Fehler von vornherein vermeiden" class="grammle-card-more-headline grammle-card-alt-headline">Gute Alternativen</a>
    </div>

    <div class="grammle-card-more-text-container grammle-alt-text-container">
      {{ range .context.Params.alt }}
        <div class="grammle-alt">
          <a class="grammle-card-more-text grammle-card-alt-text">{{ . | markdownify }}</a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ if isset .context.Params "related" }}
  <div class="grammle-card-more-container grammle-card-related-container">
    <div class="grammle-card-more-headline-container grammle-card-related-headline-container">
      <i class="fa-solid fa-circle-nodes"></i>
      <a title="Ähnliche Fehler ansehen" class="grammle-card-more-headline grammle-card-alt-headline">Verwandte Regeln</a>
    </div>

    <div class="grammle-card-more-text-container grammle-card-related-text-container">
      {{ range .context.Params.related }}
        {{ $uid := . }}
        {{ $id := "" }}
        {{ $shortTitle := "" }}

        {{ range (where (site.RegularPages.ByParam "uid") ".Params.uid" $uid) }}
          {{ $id = .Params.id }}
          {{ $shortTitle = print "„" .Params.wrong "“ oder „" .Params.correct "“?"  }}
        {{ end }}

        {{ $page := print "/regeln/" $id "/index.md" }}
        {{ $page = site.GetPage $page}}

        <a title="{{ $shortTitle | markdownify }}" class="grammle-card-related-link grammle-label-{{ substr $id 0 1 }}" href="{{ $page.Permalink }}">
          <i class="grammle-card-related-label">Grammle-{{ $id | humanize }}</i>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}

<div class="grammle-card-more-container grammle-card-source-container">
  {{ range .context.Params.source }}

    {{ if isset . "wikipedia" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .wikipedia }}">
        <i class="grammle-card-source-label grammle-card-source-wikipedia">
          <img alt="Wikipedia" src="{{ .Site.BaseURL }}/img/sources/wikipedia-logo.svg">
        </i>
      </a>
    {{ end }}

    {{ if isset . "digitalcourage" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .digitalcourage }}">
        <i class="grammle-card-source-label grammle-card-source-digitalcourage">
          <img alt="Digitalcourage" src="{{ .Site.BaseURL }}/img/sources/digitalcourage.svg">
        </i>
      </a>
    {{ end }}

    {{ if isset . "bastiansick" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .bastiansick }}">
        <i class="grammle-card-source-label grammle-card-source-bastiansick">
          {{ with resources.Get "img/sources/bastiansick.png" }}{{ with .Resize "x50 webp"}}<img alt="Bastian Sick" src="{{ .Permalink }}">{{ end }}{{ end }}
        </i>
      </a>
    {{ end }}

    {{ if isset . "dwds" }}
      <!--<a title="Weitere Infos" class="grammle-source-link" href="{{ .dwds }}">
        <i class="grammle-card-source-label grammle-card-source-dwds-alt">
          <img alt="Digitales Wörterbuch der deutschen Sprache" src="{{ .Site.BaseURL }}/img/sources/dwds.svg">
        </i>
      </a>-->
    {{ end }}

    {{ if isset . "dwds" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .dwds }}">
        <i class="grammle-card-source-label grammle-card-source-dwds">DWDS</i>
      </a>
    {{ end }}

    {{ if isset . "spiegel" }}
      <!--<a title="Weitere Infos" class="grammle-source-link" href="{{ .spiegel }}">
        <i class="grammle-card-source-label grammle-card-source-spiegel-alt">
          <svg viewBox="0 0 113 23" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
            <path d="M22.956 9.047V3.833h5.233v5.214h-5.233zm9.696 1.38V2.453C32.652 1.073 31.575 0 30.19 0H16.646v3.833h1.847v15.334h-1.847V23h8.003v-3.833h-1.693V12.88h7.234c1.385 0 2.462-1.073 2.462-2.453zM40.501 19.167V3.833h1.847V0h-8.003v3.833h1.847v15.334h-1.847V23h8.003v-3.833h-1.847zM55.738 14.873v4.294h-5.233V12.88h6.926V9.047h-6.926V3.833h5.233v3.22h4.463V0H44.35v3.833h1.693v15.334h-1.693V23h15.852v-8.127h-4.463zM68.358 9.047v3.833h3.54v6.287h-5.233V3.833h5.233v3.22h4.617v-4.6c0-1.38-1.077-2.453-2.462-2.453h-9.234c-.616 0-1.232.307-1.54.613-.461.46-.923 1.074-.923 1.84v18.094c0 .766.308 1.38.923 1.84.462.46 1.078.613 1.693.613h11.543V9.047h-8.157zM90.059 14.873v4.294h-5.233V12.88h6.926V9.047h-6.926V3.833h5.233v3.22h4.463V0H78.67v3.833h1.693v15.334H78.67V23h15.852v-8.127h-4.463zM108.066 14.873v4.294h-5.078V3.833h1.846V0h-8.157v3.833h1.847v15.334h-1.847V23h15.853v-8.127h-4.464zM14.645 20.685V9.107H5.103V3.86h5.079v3.242h4.617V2.47C14.8.988 13.414 0 12.03 0h-9.08C1.562 0 .485 1.08.485 2.47v10.496h9.542v6.33H4.95v-4.323H.486v5.557c0 1.39 1.077 2.47 2.462 2.47h9.08c1.417 0 2.617-.926 2.617-2.315z"></path>
          </svg>
        </i>
      </a>-->
    {{ end }}

    {{ if isset . "cambridge" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .cambridge }}">
        <i class="grammle-card-source-label grammle-card-source-cambridge-icon">Cambridge</i>
      </a>
    {{ end }}

    {{ if isset . "spiegel" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .spiegel }}">
        <i class="grammle-card-source-label grammle-card-source-spiegel">Spiegel</i>
      </a>
    {{ end }}

    {{ if isset . "korrekturende" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .korrekturende }}">
        <i class="grammle-card-source-label grammle-card-source-korrekturende">korrekturen.de</i>
      </a>
    {{ end }}

    {{ if isset . "duden" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .duden }}">
        <i class="grammle-card-source-label grammle-card-source-duden">Duden</i>
      </a>
    {{ end }}

    {{ if isset . "mastodon" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .mastodon }}">
        <i class="grammle-card-source-label grammle-card-source-mastodon">Mastodon</i>
      </a>
    {{ end }}

    {{ if isset . "pons" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .pons }}">
        <i class="grammle-card-source-label grammle-card-source-pons">Pons</i>
      </a>
    {{ end }}

    {{ if isset . "buch" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .buch }}">
        <i class="grammle-card-source-label grammle-card-source-buch">Literatur</i>
      </a>
    {{ end }}

    {{ if isset . "wiktionary" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .wiktionary }}">
        <i class="grammle-card-source-label grammle-card-source-wiktionary">Wiktionary</i>
      </a>
    {{ end }}

    {{ if isset . "woxikon" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .woxikon }}">
        <i class="grammle-card-source-label grammle-card-source-woxikon">Woxikon</i>
      </a>
    {{ end }}

    {{ if isset . "dlfkultur" }}
      <a title="Weitere Infos" class="grammle-source-link" href="{{ .dlfkultur }}">
        <i class="grammle-card-source-label grammle-card-source-dlfkultur">Dlf Kultur</i>
      </a>
    {{ end }}
  {{ end }}
</div>