<div class="header">
  <div class="header-logo">
    {{ with resources.Get "img/own/logo.png" }}
      {{ with .Resize "250x webp" }}
        <img src="{{ .RelPermalink }}" alt="Logo">
      {{ end }}
    {{ end }}
  </div>

  <div class="header-title-outer">
    <div class="header-title">
      <a class="header-title-text" title="Startseite" href="{{ site.BaseURL }}">{{ .Site.Title }}</a>
    </div>

    <div class="header-subtitle">
      <a class="header-subtitle-text">{{ .Site.Params.Subtitle }}</a>
    </div>
  </div>

  <div class="header-menu-outer">
    <span class="header-menu" title="Menü"><i class="fa-solid fa-compass"></i></span>
    <span class="header-menu-close" title="Schließen"><i class="fa-solid fa-circle-xmark"></i></span>
  </div>
</div>
