{{ $title := .Title }}
{{ $titleShort := $title }}
{{ $description := .Site.Params.Description }}
{{ $headType := "" }}

{{ if isset . "headType" }}
  {{ $headType = .headType }}
{{ end }}

{{ if .Page.Description }}
  {{ $description = .Page.Description }}
{{ end }}

{{ if and (.IsNode) (eq .Section "regeln") }}
  {{ $title = print "Alle Grammle-Regeln" }}
  {{ $titleShort = print "Alle Regeln · " (.Site.Title | humanize) }}
  {{ $description = print "Durchstöbere hier alle Grammle-Regeln!"}}

{{ else if .IsHome }}
  {{ $title = print .Site.Title " · " .Site.Params.ShortDescription }}
  {{ $titleShort = $title }}
  {{ $description = "" }}

{{ else if eq .Title "Über Grammle" }}
  {{ $title = "Was ist Grammle.de?" }}
  {{ $titleShort = .Title }}

{{ else if eq .Title "Grammle bearbeiten" }}
  {{ $titleShort = "Bearbeiten" }}

{{ else if eq .Title "warnung" }}
  {{ $title = "Sprachlich eher falsche Ausdrücke · Grammle" }}
  {{ $titleShort = "Eher falsch · Grammle" }}

{{ else if eq .Title "info" }}
  {{ $titleShort = "Nicht empfohlen · Grammle" }}

{{ else if eq .Title "verbrannt" }}
  {{ $title = "Nationalsozialistisch verbrannte Ausdrücke · Grammle" }}
  {{ $titleShort = "Verbrannte Ausdrücke · Grammle" }}
  {{ $description = "Obacht: Diese nationalsozialistisch verbrannten Ausdrücke solltest du lieber meiden." }}

{{ else if eq $headType "form" }}
  {{ $title = "Grammle bearbeiten" }}
  {{ $titleShort = $title }}

{{ else }}
  {{ if isset .Params "id" }}
    {{ $title = print "Heißt es „" (.Params.wrong | markdownify) "“ oder „" (.Params.correct | markdownify) "“?" }}
    {{ $titleShort = print (.Page.Params.id | humanize) ": „" (.Params.wrong | markdownify) "“ oder „" (.Params.correct | markdownify) "“?" }}

  {{ else if eq .Layout "meta" }}
    {{ $title = print (.Title) " · " site.Title }}
    {{ $titleShort = $title }}

  {{ else if eq .Layout "404" }}
    {{ $title = print (.Title) " · " site.Title }}
    {{ $titleShort = $title }}

  {{ else }}
    {{ $title = print (.Title | humanize) " · " site.Title }}
    {{ $titleShort = $title }}

  {{ end }}
{{ end }}

{{ if and (isset .Params "arten") (eq .Page.Params.arten "verbrannt") }}
  {{ $titleShort = print (.Page.Params.id | humanize) ": „" (.Page.Params.wrong | markdownify) "“ oder „" (.Page.Params.correct | markdownify) "“?" }}
  {{ $title = print "Darf man „" (.Page.Params.wrong | markdownify) "“ sagen?" }}
  {{ $description = print "Ist „" (.Page.Params.wrong | markdownify) "“ ein NS-Ausdruck, oder kann man es unbedenklich verwenden? (Grammle-Regel " (.Params.id | humanize) ")" }}

{{ else if isset .Params "id" }}
  {{ $description = print "Ist „" (.Page.Params.wrong | markdownify) "“ sprachlich und stilistisch korrekt, oder wäre „" (.Params.correct | markdownify) "“ besser? (Grammle-Regel " (.Params.id | humanize) ")" }}
{{ end }}

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="author" content="{{ .Site.Params.Author }}"/>
    <meta name="copyright" content="{{ .Site.Copyright }}">
    <meta name="description" content="{{ $description }}"/>
    <meta name="language" content="{{ .Site.Language.Lang }}">

    <meta property="og:site_name" content="{{ site.Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ $title }}" />
    <meta property="og:description" content="{{ $description }}" />
    <meta property="og:type" content="website" />

    <meta property="twitter:title" content="{{ $title }}" />
    <meta property="twitter:description" content="{{ $description }}" />

    {{ $imageURL := "" }}
    {{ $width := 1920 }}
    {{ $height := 1080 }}

    {{ if or (eq .Kind "home") (eq .Layout "meta") }}
      {{ with resources.Get "img/own/banner.png" }}
        {{ with .Resize "1200x png" }}
          {{ $width = .Width }}
          {{ $height = .Height }}
          {{ $imageURL = .Permalink }}
          <meta name="twitter:card" content="summary_large_image" />
        {{ end }}
      {{ end }}

    {{ else }}
      {{ with resources.Get "img/own/logo.png" }}
        {{ with .Resize "400x png" }}
          {{ $width = .Width }}
          {{ $height = .Height }}
          {{ $imageURL = .Permalink }}
          <meta name="twitter:card" content="summary" />
        {{ end }}
      {{ end }}
    {{ end }}

    <meta property="og:image" content="{{ $imageURL }}" />
    <meta property="og:image:secure_url" content="{{ $imageURL }}" />
    <meta property="twitter:image" content="{{ $imageURL }}" />
    <meta name="thumbnail" content="{{ $imageURL }}">
    <meta property="og:image:width" content="{{ $width }}" />
    <meta property="og:image:height" content="{{ $height }}" />

    <title>{{ $titleShort }}</title>

    {{ with resources.Get "img/own/logo.png" }}
      {{ with .Resize "64x webp" }}
        <link href="{{ .Permalink }}" rel="icon" type="image/png">
      {{ end }}
    {{ end }}

    {{ $faCSS := resources.Get "css/all.css" }}
    {{ $biCSS := resources.Get "css/bi.css" }}
    {{ $fontsCSS := resources.Get "css/fonts.css" }}
    {{ $rootCSS := resources.Get "css/root.css" }}
    {{ $grammleCSS := resources.Get "css/grammle.css" }}
    {{ $headerCSS := resources.Get "css/header.css" }}
    {{ $mobilemenuCSS := resources.Get "css/mobilemenu.css" }}
    {{ $mainLeftCSS := resources.Get "css/main-left.css" }}
    {{ $mainRightCSS := resources.Get "css/main-right.css" }}
    {{ $teaserCSS := resources.Get "css/teaser.css" }}
    {{ $contentCSS := resources.Get "css/content.css" }}
    {{ $formsCSS := resources.Get "css/forms.css" }}
    {{ $homeCSS := resources.Get "css/home.css" }}
    {{ $summaryCSS := resources.Get "css/summary.css" }}
    {{ $mastodonCSS := resources.Get "css/mastodon.css" }}
    {{ $responsiveCSS := resources.Get "css/responsive.css" }}

    {{ $minifiedCSS := slice $faCSS $biCSS $fontsCSS $rootCSS $grammleCSS $headerCSS $mobilemenuCSS $mainLeftCSS $mainRightCSS $teaserCSS $contentCSS $formsCSS $homeCSS $summaryCSS $mastodonCSS $responsiveCSS | resources.Concat "css/style.css" | resources.Minify | resources.Fingerprint "sha512" }}

    <link href="{{ $minifiedCSS.RelPermalink }}" type="text/css" rel="stylesheet">

    {{ $jquery := resources.Get "js/jquery.js" }}
    {{ $menuJS := resources.Get "js/menu.js" }}
    {{ $randomJS := resources.Get "js/random.js" | resources.ExecuteAsTemplate "js/random.js" . }}

    {{ $minifiedJS := slice $jquery $menuJS $randomJS | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}

    <script src="{{ $minifiedJS.Permalink }}" defer></script>

    {{ if eq $headType "form" }}
      {{ $cryptoJS := resources.Get "js/crypto-js-4.1.1.min.js" }}
      {{ $jsYaml := resources.Get "js/js-yaml-4.1.0.min.js" }}
      {{ $FileSaver := resources.Get "js/FileSaver-2.0.0.min.js" }}
      {{ $formJS := resources.Get "js/form.js" }}
      {{ $formMistakeActions := resources.Get "js/form-mistakeActions.js" }}
      {{ $formEdit := resources.Get "js/form-edit.js" }}
      {{ $formFiles := resources.Get "js/form-files.js" }}
      {{ $URLparams := resources.Get "js/URLparams.js" }}
      {{ $formInteraction := resources.Get "js/form-interaction.js" }}

      {{ $minifiedFormJS := slice $cryptoJS $jsYaml $FileSaver $formJS $formMistakeActions $formEdit $formFiles $URLparams $formInteraction | resources.Concat "js/form-bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}

      <script src="{{ $minifiedFormJS.Permalink }}" defer></script>
    {{ end }}
  </head>