{{ $logoLink := site.BaseURL }}

{{ if eq .landingType "home" }}
  {{ $logoLink = print $logoLink "/über" }}
{{ end }}

<body class="landing-background">

  <div class="home-mobile-header">
    <a class="home-mobile-header-left" href="{{ $logoLink }}">
      {{ with resources.Get "img/own/logo.png" }}
        {{ with .Resize "200x webp" }}
          <img src="{{ .RelPermalink }}" alt="Logo">
        {{ end }}
      {{ end }}

      <i class="home-mobile-header-brand-name">Grammle</i>
    </a>

    <a class="home-mobile-header-middle" title="Spende gegen den Krieg in der Ukraine!" href="{{ .Site.BaseURL}}/ueber/#was-soll-das-gelbe-wappen-auf-der-startseite">
      <span class="home-mobile-header-ua-button">
        {{ with resources.Get "img/foreign/ua-seal-yellow.png" }}
          {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
            <img src="{{ .RelPermalink }}" class="home-mobile-header-ua-icon"/>
          {{ end }}
        {{ end }}

        <i class="home-mobile-header-ua-link">Spenden</i>
      </span>
    </a>

    <div class="home-mobile-header-menu">
      <a class="home-mobile-header-menu-link" href="{{ .Site.BaseURL }}/kategorien" title="Übersicht der Sortierung">Kategorien</a>
      <a class="home-mobile-header-menu-link" href="{{ .Site.BaseURL }}/aenderungen" title="Verpasse keine neuen Regeln!">Änderungen</a>
      <a class="home-mobile-header-menu-link" href="{{ .Site.BaseURL }}/ueber" title="Was ist Grammle?">Über</a>

      <div class="home-mobile-header-menu-collapsed-outer">
        <span class="home-mobile-header-menu-collapsed-button" title="Menü">
          <i class="fa-solid fa-compass"></i>
        </span>

        <span class="home-mobile-header-menu-collapsed-close" title="Schließen">
          <i class="fa-solid fa-circle-xmark"></i>
        </span>
      </div>
    </div>
  </div>

  {{ partial "mobilemenu" . }}

  <div class="home-background">
    <div class="home-main">
      <div class="home-main-left">
        {{ if eq .landingType "home" }}
          {{ range where site.RegularPages ".Params.featured" "true" }}
            {{ partial "grammle-card" (dict "context" . "kind" "small") }}
          {{ end }}

        {{ else if eq .landingType "404" }}
          {{ range where site.RegularPages ".Params.404" true }}
            {{ partial "grammle-card" (dict "context" . "kind" "small") }}
          {{ end }}
        {{ end }}
      </div>

      <div class="home-main-right">
        <div class="home-title">
          {{ if eq .landingType "home" }}
            <span class="home-title-headline"><a class="underline-wrong" title="Bitte nicht nachmachen – falsch!">Unnsicher</a>?</span>
            <span class="home-title-subheadline">Mit <a class="brand">Grammle</a> vermeidest du häufige Grammatikfehler.</span>

          {{ else if eq .landingType "404" }}
            <span class="home-title-headline">Na <a class="underline-wrong" title="Bitte nicht nachmachen – falsch!">sowas</a>! 🧐</span>
            <span class="home-title-subheadline">🚧 <a class="brand">Fehler 404</a> – die gesuchte Seite existiert leider nicht.</span>
          {{ end }}
        </div>

        <div class="home-cta">
          <a class="home-cta-button home-cta-button--primary" href="{{ site.BaseURL }}/regeln/" title="Liste aller Regeln">
            <i class="fa-solid fa-magnifying-glass"></i> Durchstöbern
          </a>

          <a class="home-cta-button home-cta-button--secondary" href="{{ site.BaseURL }}/kurztabelle/" title="Zusammenfassung der Regeln als Tabelle">
            <i class="bi bi-table"></i> Kurztabelle
          </a>
        </div>
      </div>
    </div>

    <div class="home-social-icon" title="Folge Grammle auf Mastodon!">
      <a href="{{ site.Params.projectMastodon }}" rel="me">
        <i class="bi bi-mastodon"></i>
      </a>
    </div>

    <div class="home-bg-brand">
      {{ with resources.Get "img/own/logo.png" }}
        {{ with .Resize "64x webp" }}
          <img src="{{ .RelPermalink }}" alt="Logo">
        {{ end }}
      {{ end }}

      <span class="home-bg-brand-name">
        <a class="home-bg-brand-link" href="{{ .Site.BaseURL }}/ueber/">Grammle</a>
      </span>

      <span class="home-bg-brand-by">by
        <a class="home-bg-brand-by-link" href="{{ site.Author.mastodon }}">Pixelcode</a>
      </span>
    </div>
  </div>

  {{ with resources.Get "img/own/green-circle-scatter-haikei.png" }}
    {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
      <img src="{{ .RelPermalink }}" class="home-bg-circles-green">
    {{ end }}
  {{ end }}

  {{ with resources.Get "img/own/white-blob-scatter.png" }}
    {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
      <img src="{{ .RelPermalink }}" class="home-bg-circles-white">
    {{ end }}
  {{ end }}
</body>