      <div class="main-left">
        <div class="main-left-header-container">
          <div class="main-left-header">
            <a class="main-left-header-text
            {{ if or (in .Site.Params.categories .Title) (in .Site.Params.kinds .Title) }}
              main-left-header-text-important
              main-left-header-text-{{ substr .Title 0 1}}
            {{ end }}">

              {{ if and (.IsNode) (eq .Section "regeln") }}
                <i class="bi bi-grid-fill"></i> Alle Regeln

              {{ else if .IsHome }}
                <i class="bi bi-house-fill"></i> Start

              {{ else if eq .Title "Über Grammle" }}
                <i class="bi bi-info-circle"></i> {{ .Title }}

              {{ else }}
                {{ if isset .Params "id" }} Regel {{ .Params.id | humanize }}
                {{ else if eq .Layout "meta" }} {{ .Title }}

                {{ else if or (in .Site.Params.categories .Title) (in .Site.Params.kinds .Title) }}
                  {{ if eq .Title "fehler" }}<i class="bi bi-x-circle"></i> Fehler
                  {{ else if eq .Title "warnung" }}<i class="bi bi-exclamation-diamond"></i> Eher falsch
                  {{ else if eq .Title "info" }}<i class="bi bi-hand-thumbs-down"></i> Nicht empfohlen
                  {{ else if eq .Title "verbrannt" }}<i class="fa-solid fa-skull"></i> NS-Wortschatz
                  {{ else }}{{ .Title | humanize }}
                  {{ end }}

                {{ else if eq .Title "Kategorien" }}<i class="bi bi-tags-fill"></i> {{ .Title }}
                {{ else if eq .Title "Detailliste" }}<i class="fa-solid fa-book-open"></i> {{ .Title }}
                {{ else if eq .Title "Kurztabelle" }}<i class="bi bi-table"></i> {{ .Title }}
                {{ else if eq .Title "Änderungsprotokoll" }}<i class="fa-solid fa-clock-rotate-left"></i> {{ .Title }}
                {{ else if eq .Title "Grammle bearbeiten" }}<i class="fa-solid fa-feather"></i> {{ .Title }}
                {{ else }} {{ .Title | humanize }}
                {{ end }}
              {{ end }}
            </a>
          </div>
        </div>

        <div class="main-left-inner">
          <div class="main-left-title-container">
            <div class="main-left-title main-left-title-element">
              <a href="{{ .Site.BaseURL }}" class="main-left-title-text" title="Startseite">{{ .Site.Title }}</a>
            </div>

            <div class="main-left-subtitle main-left-title-element">
              <a class="main-left-subtitle-text">{{ .Site.Params.Subtitle }}</a>
            </div>
          </div>

          <div class="main-left-categories-container">

            <div class="main-left-categories-top">
              <a href="{{ .Site.BaseURL }}/regeln/" title="Zusammengefasste Übersicht" class="main-left-categories-top-item">
                <i class="bi bi-grid-fill"></i>
                <i class="main-left-categories-top-item-text">Alle Regeln</i>
              </a>

              <a href="{{ .Site.BaseURL }}/detaillierte-liste/" title="Vollständige Übersicht" class="main-left-categories-top-item">
                <i class="fa-solid fa-book-open"></i>
                <i class="main-left-categories-top-item-text">Detailliste</i>
              </a>

              <a href="{{ .Site.BaseURL }}/kurztabelle/" title="Halt 'ne Tabelle…" class="main-left-categories-top-item">
                <i class="bi bi-table"></i>
                <i class="main-left-categories-top-item-text">Kurztabelle</i>
              </a>

              <a href="{{ .Site.BaseURL }}/kategorien/" title="Übersicht der Sortierung" class="main-left-categories-top-item">
                <i class="bi bi-tags-fill"></i>
                <i class="main-left-categories-top-item-text">Kategorien</i>
              </a>

              <a href="{{ .Site.BaseURL }}/aenderungen/" title="Verpasse keine neuen Regeln!" class="main-left-categories-top-item">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <i class="main-left-categories-top-item-text">Änderungen</i>
              </a>

              <a class="main-left-categories-top-item random-rule-button" title="Keine Lust, selbst zu stöbern?">
                <i class="bi bi-dice-5-fill"></i>
                <i class="main-left-categories-top-item-text">Zufällig</i>
              </a>
            </div>

            <div class="main-left-categories">
              {{ range .Site.Taxonomies.kategorien.ByCount }}
                <a href="{{ site.BaseURL }}/kategorien/{{ .Name }}/" title="Alle Regeln der Kategorie „{{ .Name | humanize }}“" class="grammle-card-categories grammle-label grammle-label-{{ substr .Name 0 1 }}">
                  {{ .Name }}
                </a>
              {{ end }}
            </div>
          </div>

          <div class="main-left-footer-container">
            <div class="main-left-footer">
              <a href="{{ .Site.BaseURL }}/ueber/" title="Was ist Grammle?" class="main-left-footer-element">
                <i>Über {{ .Site.Title }}</i>
              </a>

              <a href="{{ .Site.Params.projectMastodon }}" rel="me" class="main-left-footer-element" title="Folge Grammle auf Mastodon!">
                <i><i class="bi bi-mastodon"></i> Mastodon</i>
              </a>
            </div>
          </div>
        </div>

        {{ with resources.Get "img/own/grey-blob-scatter-haikei.png" }}
          {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
            <img src="{{ .RelPermalink }}" class="main-left-circles-white">
          {{ end }}
        {{ end }}
      </div>
