
{{ if or (and (.IsNode) (eq .Section "regeln")) (or (eq (substr .Title 0 1) "s") (eq (substr .Title 0 1) "k") (eq (substr .Title 0 1) "b") (eq (substr .Title 0 1) "g") (eq (substr .Title 0 1) "o") (eq (substr .Title 0 1) "a") (eq (substr .Title 0 1) "v") (eq .Title "fehler") (eq .Title "warnung") (eq .Title "info") (eq .Title "Kategorien") (eq .Title "Detailliste") (eq .Title "Kurztabelle") (eq .Title "Änderungsprotokoll")) }}
<div class="mobile-bottom-title-div">
  <a class="main-left-header-text
  {{ if or (in .Site.Params.categories .Title) (in .Site.Params.kinds .Title) }}
    main-left-header-text-important
    main-left-header-text-{{ substr .Title 0 1}}
  {{ end }}">

  {{ if and (.IsNode) (eq .Section "regeln") }}
    <i class="bi bi-grid-fill"></i> Alle Regeln

  {{ else }}
    {{ if isset .Params "id" }}
    {{ else if eq .Layout "meta" }}

    {{ else if or (in .Site.Params.categories .Title) (in .Site.Params.kinds .Title) }}
      {{ if eq .Title "fehler" }}<i class="bi bi-x-circle"></i> Fehler
      {{ else if eq .Title "warnung" }}<i class="bi bi-exclamation-diamond"></i> Eher falsch
      {{ else if eq .Title "info" }}<i class="bi bi-hand-thumbs-down"></i> Nicht empfohlen
      {{ else if eq .Title "verbrannt" }}<i class="fa-solid fa-skull"></i> Verbrannt
      {{ else }}{{ .Title | humanize }}
    {{ end }}

    {{ else if eq .Title "Kategorien" }}<i class="bi bi-tags-fill"></i> {{ .Title }}
    {{ else if eq .Title "Detailliste" }}<i class="fa-solid fa-book-open"></i> {{ .Title }}
    {{ else if eq .Title "Kurztabelle" }}<i class="bi bi-table"></i> {{ .Title }}
    {{ else if eq .Title "Änderungsprotokoll" }}<i class="fa-solid fa-clock-rotate-left"></i> {{ .Title }}
    {{ else }} {{ .Title | humanize }}
    {{ end }}
  {{ end }}
  </a>
</div>

{{ end }}