<div class="menu">
  <div class="menu-inner">
    <div class="menu-title-container">

      <div class="menu-title">
        <a class="menu-title-text" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </div>

      <div class="menu-subtitle">
        <a class="menu-subtitle-text">{{ .Site.Params.Subtitle }}</a>
      </div>

      <div class="menu-close">
        <i class="fa-solid fa-circle-xmark"></i>
      </div>
    </div>

    <div class="menu-content">
      <div class="menu-list-container">
        <span class="menu-list-outer">
          <a href="{{ .Site.BaseURL }}/regeln/" class="menu-list">
            <i class="bi bi-grid-fill"></i>
            <i class="menu-list-text">Alle Regeln</i>
          </a>
        </span>

        <span class="menu-list-outer">
          <a href="{{ .Site.BaseURL }}/detaillierte-liste/" class="menu-list">
            <i class="bi bi-book-fill"></i>
            <i class="menu-list-text">Detaillierte Liste</i>
          </a>
        </span>

        <span class="menu-list-outer">
          <a href="{{ .Site.BaseURL }}/kurztabelle/" class="menu-list">
            <i class="bi bi-table"></i>
            <i class="menu-list-text">Kurztabelle</i>
          </a>
        </span>

        <span class="menu-list-outer">
          <a href="{{ .Site.BaseURL }}/aenderungen/" class="menu-list">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <i class="menu-list-text">Änderungen</i>
          </a>
        </span>

        <span class="menu-list-outer">
          <a class="menu-list random-rule-button">
            <i class="bi bi-dice-5-fill"></i>
            <i class="menu-list-text">Zufällige Regel</i>
          </a>
        </span>
      </div>

      <span class="menu-headline">Kategorien</span>
      <div class="menu-categories">

        {{ range site.Taxonomies.kategorien.ByCount }}
          <span class="normal-card-categories">
            <a href="{{ site.BaseURL }}/kategorien/{{ .Name }}/" class="grammle-card-categories grammle-label grammle-label-{{ substr .Name 0 1 }}">
            {{ .Name }}
            </a>
          </span>
        {{ end }}
      </div>

      <span class="menu-headline">Fehlerarten</span>
      <div class="menu-types-container">
        <span class="normal-card-categories menu-types">
          <a href="{{ .Site.BaseURL }}/arten/fehler/" class="grammle-label normal-card-types normal-card-mistake">
            <i class="bi bi-x-circle"></i>
            <i class="normal-card-type-text">Falsch</i>
          </a>
        </span>

        <span class="normal-card-categories article-types">
          <a href="{{ .Site.BaseURL }}/arten/warnung/" class="grammle-label normal-card-types normal-card-warning">
            <i class="bi bi-exclamation-diamond"></i>
            <i class="normal-card-type-text">Eher falsch</i>
          </a>
        </span>

        <span class="normal-card-categories article-types">
          <a href="{{ .Site.BaseURL }}/arten/info/" class="grammle-label normal-card-types normal-card-info">
            <i class="bi bi-hand-thumbs-down"></i>
            <i class="normal-card-type-text">Nicht empfohlen</i>
          </a>
        </span>

        <span class="normal-card-categories article-types">
          <a href="{{ .Site.BaseURL }}/arten/verbrannt/" class="grammle-label normal-card-types normal-card-verbrannt">
            <i class="fa-solid fa-skull"></i>
            <i class="normal-card-type-text">Verbrannt</i>
          </a>
        </span>
      </div>

      {{ partial "uaButton.html" (dict "kind" "intermediate") }}
    </div>

    <div class="menu-footer-container">
      <div class="menu-footer">
        <a href="{{ .Site.BaseURL }}/ueber/" class="menu-footer-element">
          <i>Über Grammle</i>
        </a>
        <a href="{{ .Site.Params.projectMastodon }}" rel="me" class="menu-footer-element">
          <i><i class="bi bi-mastodon"></i> Mastodon</i>
        </a>
      </div>
    </div>
  </div>
</div>
