<div class="mistake-single-edit mistake-single-edit--hidden">
  <div class="mistake-single-edit-inner">
    <div class="mistake-single-edit-content">

      <div class="mistake-single-edit-headline-div">
        <a class="mistake-single-edit-headline">Fehler bearbeiten</a>

        <span class="mistake-single-edit-headline-close" title="Schließen (nicht speichern)">
          <i class="fa-solid fa-xmark"></i>
        </span>

        <a class="mistake-single-edit-headline-uid">UID</a>
      </div>

      <form class="mistake-single-edit-form" grammle-id="" grammle-uid="" grammle-category="" grammle-nr="">
        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-slug">Slug*</label>
          <input class="mistake-edit-input" id="mistake-edit-slug" placeholder="wider-besseres-wissen">
        </div>

        <div class="mistake-single-edit-form-item">
          <a class="mistake-edit-label mistake-edit-radio-label-general">Fehlerart</a>

          <input type="radio" name="kind" value="fehler" class="mistake-edit-input mistake-edit-input-radio" id="mistake-edit-kind-fehler" checked>
          <label class="mistake-edit-radio-label" for="mistake-edit-kind-fehler">Fehler</label>

          <input type="radio" name="kind" value="warnung" class="mistake-edit-input mistake-edit-input-radio" id="mistake-edit-kind-warnung">
          <label class="mistake-edit-radio-label" for="mistake-edit-kind-warnung">Warnung</label>

          <input type="radio" name="kind" value="info" class="mistake-edit-input mistake-edit-input-radio" id="mistake-edit-kind-info">
          <label class="mistake-edit-radio-label" for="mistake-edit-kind-info">Information</label>

          <input type="radio" name="kind" value="verbrannt" class="mistake-edit-input mistake-edit-input-radio" id="mistake-edit-kind-verbrannt">
          <label class="mistake-edit-radio-label" for="mistake-edit-kind-verbrannt">NS-Wortschatz</label>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-maincat">Hauptkategorie</label>

          <select name="maincat" class="mistake-edit-input" id="mistake-edit-maincat">
            <option value="grammatik">Grammatik</option>
            <option value="orthographie">Orthographie</option>
            <option value="bedeutung">Bedeutung</option>
            <option value="kasus">Kasus</option>
            <option value="artikel">Artikel</option>
            <option value="sprachstil">Sprachstil</option>
            <option value="verbrannt">NS-Wortschatz</option>
          </select>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-maincat">Alle Kategorien</label>

          <input type="checkbox" name="category" value="grammatik" class="mistake-edit-input mistake-edit-input-checkbox" id="mistake-edit-cat-grammatik">
          <label class="mistake-edit-check-label" for="mistake-edit-cat-grammatik">Grammatik</label>

          <input type="checkbox" name="category" value="orthographie" class="mistake-edit-input mistake-edit-input-checkbox" id="mistake-edit-cat-orthographie">
          <label class="mistake-edit-check-label" for="mistake-edit-cat-orthographie">Orthographie</label>

          <input type="checkbox" name="category" value="bedeutung" class="mistake-edit-input mistake-edit-input-checkbox" id="mistake-edit-cat-bedeutung">
          <label class="mistake-edit-check-label" for="mistake-edit-cat-bedeutung">Bedeutung</label>

          <input type="checkbox" name="category" value="kasus" class="mistake-edit-input mistake-edit-input-checkbox" id="mistake-edit-cat-kasus">
          <label class="mistake-edit-check-label" for="mistake-edit-cat-kasus">Kasus</label>

          <input type="checkbox" name="category" value="artikel" class="mistake-edit-input mistake-edit-input-checkbox" id="mistake-edit-cat-artikel">
          <label class="mistake-edit-check-label" for="mistake-edit-cat-artikel">Artikel</label>

          <input type="checkbox" name="category" value="sprachstil" class="mistake-edit-input mistake-edit-input-checkbox" id="mistake-edit-cat-sprachstil">
          <label class="mistake-edit-check-label" for="mistake-edit-cat-sprachstil">Sprachstil</label>

          <input type="checkbox" name="category" value="verbrannt" class="mistake-edit-input mistake-edit-input-checkbox" id="mistake-edit-cat-verbrannt">
          <label class="mistake-edit-check-label" for="mistake-edit-cat-verbrannt">NS-Wortschatz</label>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-wrong">Falsch*</label>
          <input class="mistake-edit-input" id="mistake-edit-wrong" placeholder="Wider besseren Wissens">
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-correct">Richtig*</label>
          <input class="mistake-edit-input" id="mistake-edit-correct" placeholder="Wider besseres Wissen">
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-wrongex">Falsches Beispiel*</label>
          <textarea class="mistake-edit-input" id="mistake-edit-wrongex" placeholder="**Wider besseren Wissens** ging er nach draußen ins Gewitter."></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-correctex">Korrektes Beispiel*</label>
          <textarea class="mistake-edit-input" id="mistake-edit-correctex" placeholder="**Wider besseres Wissen** ging er nach draußen ins Gewitter."></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-alt">Alternativen</label>
          <span class="mistake-edit-desc">Zwischen den Einträgen jeweils eine leere Zeile einfügen.</span>
          <textarea class="mistake-edit-input" id="mistake-edit-alt" placeholder="gegen alle Vernunft&#10;obwohl er es besser wusste"></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-confusion">Fehlerquelle</label>
          <span class="mistake-edit-desc">Zwischen den Einträgen jeweils eine leere Zeile einfügen.</span>
          <textarea class="mistake-edit-input" id="mistake-edit-confusion" placeholder="trotz besseren Wissens"></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-source">Quellen*</label>

          <span class="mistake-edit-desc">
            Zwischen den Einträgen jeweils eine leere Zeile einfügen.
            Jeder Eintrag muss mit dem Namen der Quelle und einem Doppelpunkt beginnen,
            z.B.: duden:&nbsp;https://duden.de
            <br><br>
            Bisher unterstützte Quellen:
            <br>duden, wiktionary, wikipedia, spiegel, bastiansick, korrekturende, digitalcourage, dlfkultur, mastodon
          </span>

          <textarea class="mistake-edit-input" id="mistake-edit-source" placeholder="korrekturende: https://www.korrekturen.de/beliebte_fehler/wider-besseren-wissens.shtml"></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-explanation">Erklärung</label>
          <textarea class="mistake-edit-input" id="mistake-edit-explanation" placeholder="Die Präposition „wider“ verlangt den Akkusativ!"></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-note">Hinweis</label>
          <textarea class="mistake-edit-input" id="mistake-edit-note" placeholder="„Wider“ kann durch „gegen“ ersetzt werden."></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-related">Verwandte Regeln</label>
          <span class="mistake-edit-desc">Für inhaltlich verwandte Regeln die jeweilige ID oder UID unten eintragen (eine ID wird immer durch die zugehörige UID ersetzt). Zwischen den Einträgen jeweils eine leere Zeile einfügen.</span>
          <textarea class="mistake-edit-input" id="mistake-edit-related" placeholder="s4&#10;a94bf17ba8ab374724320bfe007ec581"></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-aliases">Aliasse</label>
          <span class="mistake-edit-desc">Nur ausfüllen, wenn dir Hugo bekannt ist. Der erste Eintrag wird immer durch die ID ersetzt. Zwischen den Einträgen jeweils eine leere Zeile einfügen.</span>
          <textarea class="mistake-edit-input" id="mistake-edit-aliases" placeholder="serioesitaet-oder-seriositaet"></textarea>
        </div>

        <div class="mistake-single-edit-form-item">
          <label class="mistake-edit-label" for="mistake-edit-wrongs">Fehler-Regex</label>
          <span class="mistake-edit-desc">Nur ausfüllen, wenn dir Regex bekannt ist. Zwischen den Einträgen jeweils eine leere Zeile einfügen.</span>
          <textarea class="mistake-edit-input" id="mistake-edit-wrongs" placeholder="\b(S|s)(eriösität|ERIÖSITÄT)\b"></textarea>
        </div>
      </form>

      <div class="mistake-single-edit-save-div">
        <a class="form-button form-button-secondary form-button-edit-cancel form-button-enabled" title="Änderungen verwerfen">Abbrechen</a>
        <a class="form-button form-button-edit-save form-button-enabled" title="Änderungen sichern">Speichern</a>
      </div>

    </div>

    <!--<span class="mistake-single-close" title="Schließen (nicht speichern)">
      <i class="bi bi-x-circle"></i>
    </span>-->

  </div>
</div>

<div class="toast">
  <div class="toast-icon">
    <i class="bi bi-check-circle-fill"></i>
  </div>

  <div class="toast-text">
    Notification message
  </div>
</div>