<form class="new-form">
  <div class="form-section form-section-js-error form-section-visible">

    <div class="form-section-nr form-section-js-error">
      <span class="form-section-nr-icon form-section-x-icon">
        <span><i class="bi bi-x-lg"></i></span>
      </span>
    </div>

    <div class="form-section-content form-section-content-js-error">
      <span class="form-section-title form-section-title-js-error">Aktiviere JavaScript</span>
      <span class="form-section-description form-section-description-js-error">
        Damit du die Grammle-Regeln hier bearbeiten kannst, musst du JavaScript
        aktivieren, denn dieses Bearbeitungstool ist eine interaktive Web-Anwendung.
        <br><br>
        Alternativ kannst du die Grammle-Regeln manuell im
        <a class="form-error-link" href="{{ site.Params.yamlLink }}">Codeberg-Repo</a> bearbeiten,
        was aber wesentlich aufwendiger ist.
      </span>
    </div>

  </div>

  <div class="form-section">

    <div class="form-section-nr">
      <span class="form-section-nr-icon">
        <span>1</span>
      </span>
    </div>

    <div class="form-section-content">
      <span class="form-section-title">Grammle-Datei laden</span>
      <span class="form-section-description">
        Um die Grammle-Regeln zu bearbeiten, kannst du entweder
        den aktuellen Regelkatalog verwenden oder deine eigene
        <code class="code-light">regeln.yaml</code>-Datei laden.
      </span>

      <div class="form-button-container">
        <a class="form-button default-file-button">Aktuelle Regeln nehmen</a>
        <label class="form-button form-button-secondary file-button file-input-button" for="mistakeFile" title="Eigene Grammle-Datei verwenden">Datei auswählen</label>
        <input class="file-input" type="file" id="mistakeFile" accept=".yaml">
      </div>
    </div>

  </div>

  <div class="form-section">
    <div class="form-section-nr">
      <span class="form-section-nr-icon">
        <span>2</span>
      </span>
    </div>

    <div class="form-section-content">
      <span class="form-section-title">Regeln bearbeiten</span>
      <span class="form-section-description">
        Hier kannst du die bestehenden Regeln bearbeiten und sortieren.
        <b>Hinweis:</b> Die Reihenfolge der IDs bleibt immer gleich!
      </span>

      <span class="form-error-outer">
        <span class="form-error form-error-mistake-items">
          <i class="bi bi-exclamation-circle"></i> Du musst erst deine Grammle-Datei laden!
        </span>
      </span>

      <div class="mistake-categories" id="mistake-category-template">

        <div class="mistake-category" item="::CATEGORY::">
          <div class="mistake-category-data">
            <a class="mistake-category-label">KATEGORIE:</a>
            <a class="mistake-category-value">::CATEGORY::</a>

            <span class="mistake-category-addMistake-outer">
              <a class="mistake-category-addMistake" item="::CATEGORY::" title="Neue Regel">
                <i class="bi bi-plus-square-fill"></i>
              </a>
            </span>
          </div>

          <div class="mistake-items" id="mistake-item-template">

            <div class="mistake-item" item="::ID::">
              <div class="mistake-item-left">

                <div class="mistake-item-move-container">
                  <span title="Nach oben schieben" class="mistake-item-move mistake-item-move--up">
                    <i class="fa-solid fa-chevron-up"></i>
                    <a class="mistake-item-move-text">Nach oben</a>
                  </span>

                  <span title="Nach unten schieben" class="mistake-item-move mistake-item-move--down">
                    <a class="mistake-item-move-text">Nach unten</a>
                    <i class="fa-solid fa-chevron-down"></i>
                  </span>
                </div>

                <span class="mistake-item-data mistake-item-id">
                  <a class="mistake-label mistake-item-id-label">ID</a>
                  <a class="mistake-value mistake-item-id-value">::ID::</a>
                </span>

                <span class="mistake-item-data mistake-item-slug">
                  <a class="mistake-label mistake-item-slug-label">SLUG</a>
                  <a class="mistake-value mistake-item-slug-value">::SLUG::</a>
                </span>
              </div>

              <div class="mistake-item-right">
                <span title="Bearbeiten" item="::ID::" class="mistake-item-edit">
                  <i class="fa-solid fa-pen"></i>
                  <a class="mistake-item-edit-text">Bearbeiten</a>
                </span>

                <span title="Löschen" item="::ID::" class="mistake-item-delete">
                  <a class="mistake-item-edit-text">Löschen</a>
                  <i class="bi bi-trash3"></i>
                </span>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

  <!--<div class="generate-button-div">
    <a class="form-button form-button--disabled file-button file-output-button" title="Neue Grammle-Datei erzeugen">
      Generieren
    </a>
  </div>-->

  <div class="form-section">
    <div class="form-section-nr">
      <span class="form-section-nr-icon">
        <span>3</span>
      </span>
    </div>

    <div class="form-section-content">
      <span class="form-section-title">Neue Grammle-Datei generieren</span>
      <span class="form-section-description">
        Wenn du fertig mit deinen Bearbeitungen bist, kannst du hier eine neue Grammle-Datei
        mit all deinen Änderungen generieren.
      </span>

      <div class="form-button-container">
        <a class="form-button form-button--disabled file-button file-output-button" title="Neue Grammle-Datei erzeugen">
          Generieren
        </a>
      </div>
    </div>
  </div>

  <div class="form-section">
    <div class="form-section-nr">
      <span class="form-section-nr-icon">
        <span>4</span>
      </span>
    </div>

    <div class="form-section-content">
      <span class="form-section-title">Änderungen vorschlagen</span>
      <span class="form-section-description">
        Jetzt kannst du deine Änderungen und Ergänzungen über folgende
        Kontaktmöglichkeiten zur Veröffentlichung vorschlagen:
      </span>

      <div class="form-button-container form-button-container--propose">
        <a class="form-button propose-button propose-button--codeberg" title="{{ site.Params.gitForge }}" href="{{ site.Params.gitRepoIssues }}">
          <img class="propose-button-img" src="{{ .Site.BaseURL }}/img/foreign/codeberg-logo_horizontal_white.svg" alt="{{ site.Params.gitForge }}">
        </a>

        <a class="form-button propose-button propose-button--matrix" href="{{ site.Author.matrix }}">
          <i class="bi bi-chat-dots-fill"></i> Chat
        </a>

        <a class="form-button propose-button propose-button--mail" href="mailto:{{ site.Author.email }}">
          <i class="fa-solid fa-envelope"></i> E-Mail
        </a>

        {{ partial "contactWidget.html" (dict "service" "threema") }}
        {{ partial "contactWidget.html" (dict "service" "matrix") }}
        {{ partial "contactWidget.html" (dict "service" "email") }}
      </div>

      <span class="form-section-description form-contribution-agreement">
        Indem du Grammle deine Änderungen vorschlägst, stellst du sie
        Grammle gemäß
        <a href="{{ site.Params.CLA }}" class="link">
          Contributor Licence Agreement
        </a>
        zur Verfügung.
      </span>
    </div>
  </div>

</form>