{{ $link := "https://u24.gov.ua" }}

{{ if eq .kind "intermediate" }}
  {{ $link = print site.BaseURL "/über/#was-soll-das-gelbe-wappen-auf-der-startseite" }}
{{ end }}

<span class="ua-button-outer">
  <a class="ua-button" href="{{ $link }}" title="Spende gegen den Krieg in der Ukraine!">
    {{ with resources.Get "img/foreign/ua-seal-yellow.png" }}
      {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
        <img src="{{ .RelPermalink }}" class="home-mobile-header-ua-icon"/>
      {{ end }}
    {{ end }}

    <i class="ua-button-text">Spenden</i>
  </a>
</span>