{{ $anchorized := .Anchor | safeURL }}

<h{{ .Level }} class="headline" id="{{ $anchorized }}">
  <span class="headline-text-outer">
    <a class="headline-text" href="#{{ $anchorized }}">{{ .Text }}</a>
  </span>

  {{ if ne (.Level) 1 }}
    <a class="headline-anchor" href="#{{ $anchorized }}">
      <i class="fa-solid fa-hashtag"></i>
    </a>
  {{ end }}
</h{{ .Level }}>