article {
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: justify;
  font-size: 1rem;
  font-family: 'Merriweather';
  line-height: 1.8;
  color: var(--text-dark);
  hyphens: auto;
}

article::selection {
  color: var(--light-text);
  background-color: var(--main-colour);
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 2em;
  cursor: default;
}

.banner-img-link {
  cursor: pointer;
}

.banner-img-link-a {
  cursor: default;
}

article img {
  display: block;
  margin: auto;
}

article strong {
  font-family: 'Merriweather Black';
}

.article-types-container, .normal-categories {
  text-align: left;
}

article .normal-card-categories {
  font-family: var(--main-font);
  display: inline-block;
  text-align: left;
}

article .normal-card-categories a {
  line-height: 1.8;
  white-space: nowrap;
}

.article-types {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.article-types:first-child {
  margin-left: 0;
}

.headline-anchor {
  display: none;
  color: var(--anchor-grey);
}

.headline:hover .headline-anchor {
  display: inline;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-family: var(--title-font);
  text-align: center;
  line-height: 1.2;
  padding-top: 20px;
  margin-top: -20px;
}

h1 .headline-text-outer {
  background-color: var(--secondary-colour);
  display: block;
}

.headline-text-outer {
  padding-block: 15px;
  margin-block: 0px;
  padding-inline: 30px;
  margin-inline: -30px;
  /*margin-inline: -25px;*/
  border-radius: 100em;
}

.headline-text {
  text-decoration: none !important;
  word-break: break-word;
  hyphens: none;
}

h1,
h1 .headline-text {
  color: var(--main-colour);
  hyphens: auto;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--title-font);
  margin-bottom: -0.6em;
  padding-top: 20px;
  margin-top: calc(1em - 20px);
  text-align: left;
  line-height: 1.2;
}

h1.headline-changelog {
  display: block;
  margin-inline: auto;
  text-align: center;
  font-size: 1.5rem;
  margin-top: calc(2em - 20px);
}

h2 .headline-text {
  color: var(--dark-text);
}

.headline-full-underline::after {
  display: block;
  background-color: var(--light-grey-bg-bg-hover);
  height: 1px;
  width: 100%;
  content: '';
  margin-top: 0.2em;
}

article p,
.changelog-item {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

.link {
  text-decoration: none;
  text-underline-offset: 6px;
  color: var(--link-blue);
  hyphens: none;
  padding-inline: 0.4em;
  padding-block: 0.2em;
  margin-inline: -0.4em;
  margin-block: -0.2em;
  border-radius: 0.2em;
  transition: var(--hover-transition);
}

.link:hover {
  transition: var(--hover-transition);
  color: var(--link-blue-hover);
  /*text-decoration: underline;*/
}

article blockquote {
  background-color: var(--light-grey-bg);
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;
  color: var(--text-grey);
  font-size: 0.9rem;
  border-radius: 0.5em;
}

article blockquote p {
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

article code {
  background-color: var(--dark-bg);
  color: var(--light-text);
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.2em;
  white-space: nowrap;
}

article .code-light {
  background-color: var(--light-grey-bg-bg);
  color: var(--text-grey);
}

.contact-widget-label-text {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  display: inline-block;
}

.contact-widget-label-link, .contact-widget-label-icon {
  color: var(--dark-blue-text);
  font-family: var(--main-font);
  text-decoration: none;
}

.contact-widget-label-link {
  vertical-align: 1px;
}

.contact-widget-label-icon {
  font-size: 1.1em;
}

.contact-widget-icon {
  color: var(--light-text);
  background-color: var(--medium-blue-border);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.contact-widget {
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto;
}

.contact-widget-label {
  background-color: var(--light-blue-bg);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 25px;
  padding-left: 1em;
  padding-right: 1.2em;
}

.fogeye-banner {
  max-width: 120px;
}

.fogeye-summary-banner {
  max-width: min(90%, 400px);
}

.codeberg-banner {
  width: 180px;
  height: auto;
}

.content-margin {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content-margin-big {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.changelog-more-info,
.edit-widget,
.card-random-button {
  display: block;
  width: fit-content;
  margin-block: 0.5em;
  background-color: var(--main-colour);
  color: var(--light-text);
  font-family: var(--main-font);
  border-radius: 100em;
  cursor: pointer;
  text-decoration: none !important;
  transition: var(--hover-transition);
  text-align: center;
}

.edit-widget,
.card-random-button {
  margin-inline: auto;
  padding-inline: 2em;
  padding-block: 0.8em;
}

.changelog-more-info:hover,
.edit-widget:hover,
.card-random-button:hover {
  background-color: var(--main-colour-hover);
}

.changelog-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  background-color: var(--light-grey-bg);
  padding-inline: 2em;
  padding-top: 2em;
  padding-bottom: 1.5em;
  border-radius: 0.4em;
  border-left-style: solid;
  border-width: 6px;
  border-color: transparent;
}

.changelog-item-brand {
  background-color: var(--main-colour);
  color: var(--light-text);
}

.changelog-item-g {
  border-color: var(--main-colour);
}

.changelog-item-s {
  border-color: var(--blue-bg);
}

.changelog-item-v {
  border-color: var(--brown-bg);
}

.changelog-item-b {
  border-color: var(--purple-bg);
}

.changelog-item-o {
  border-color: var(--red-bg-dark);
}

.changelog-item-k {
  border-color: var(--yellow-bg);
}

.changelog-item-a {
  border-color: var(--orange-bg);
}

.changelog-item-title,
.changelog-item-description {
  color: var(--text-dark);
  text-decoration: none;
  text-align: left;
}

.changelog-item-title:hover,
.changelog-item-description:hover {
  text-decoration: none;
}

.changelog-item-title {
  font-size: 1.3em;
  line-height: 1.3;
  font-family: var(--main-font-bold);
}

.changelog-item-description {
  font-size: 0.9em;
}

.changelog-item-description a {
  display: inline;
}

.changelog-item-brand .changelog-item-title,
.changelog-item-brand .changelog-item-description,
.changelog-item-brand .changelog-item-description a {
  color: var(--light-text);
}

.changelog-item-brand .changelog-item-description a {
  font-weight: bold;
}

.changelog-more-info {
  padding-inline: 1.5em;
  padding-block: 0.4em;
  font-size: 0.9em;
  display: block;
}

.changelog-item-brand .changelog-more-info {
  background-color: var(--light-bg);
  color: var(--main-colour);
}

.changelog-item-brand .changelog-more-info:hover {
  background-color: var(--light-bg-opacity);
}

.changelog-item-icon {
  color: var(--light-grey-bg-bg);
  position: absolute;
  right: 32px;
  font-size: 60px;
  z-index: 0;
  transform: translate(0,-32px);
}

.changelog-item-title,
.changelog-item-description,
.changelog-more-info {
  z-index: 1;
}