@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Bold';
    src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Black';
    src: url('../fonts/Merriweather-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('../fonts/Merriweather-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Patua One';
    src: url('../fonts/PatuaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Extra Bold';
    src: url('../fonts/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Black';
    src: url('../fonts/Inter-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Light';
    src: url('../fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Extra Light';
    src: url('../fonts/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Thin';
    src: url('../fonts/Inter-Thin.ttf') format('truetype');
}
