.new-form {
  font-family: var(--main-font);
}

.form-section {
  width: 100%;
  border-radius: 0.4em;
  display: none;
  grid-template-columns: 60px auto;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

.form-section-visible {
  display: grid;
}

.form-section-nr {
  grid-column: 1;
  padding-top: 1em;
}

.form-section-nr-icon {
  color: var(--light-text);
  background-color: var(--main-colour);
  cursor: default;
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  font-size: 22px;
}

.form-section-nr-icon span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 18px;
  margin-right: 18px;
}

.form-section-x-icon {
  background-color: var(--red-bg-dark);
}

.form-section-x-icon span {
  padding: 12.1px;
  margin: 0;
}

.form-section-content {
  grid-column: 2;
  background-color: var(--light-grey-bg);
  border-radius: 0.4em;
  padding: 1em;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.form-section-content-js-error {
  background-color: var(--red-bg-dark);
  color: var(--light-text);
}

.form-section-title {
  display: block;
  font-family: var(--title-font);
  font-size: 1.5em;
  color: var(--main-colour);
  line-height: 1.2em;
}

.form-section-title-js-error {
  color: var(--light-text);
}

.form-section-description {
  display: block;
  color: var(--text-grey);
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.form-section-description-js-error {
  color: var(--light-text);
}

.form-error-link {
  color: var(--light-text);
  font-family: var(--main-font-bold);
  text-decoration: none;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1em;
  row-gap: 0.8em;
  margin-bottom: 0.4em;
}

.form-button-container--propose {
  flex-direction: column;
  align-items: center;
  margin-block: 2em;
}

.file-input {
  display: none;
}

.form-button {
  background-color: var(--main-colour);
  border: 1px solid var(--main-colour);
  color: var(--light-text);
  cursor: pointer;
  text-decoration: none;
  border-radius: 100em;
  padding-inline: 1.2em;
  padding-block: 0.4em;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  text-align: left;
  transition: var(--hover-transition);
}

.form-button:hover {
  text-decoration: none;
  background-color: var(--main-colour-hover);
  border-color: var(--main-colour-hover);
}

.form-button--disabled {
  background-color: var(--main-colour) !important;
  border-color: var(--main-colour) !important;
  opacity: 0.6;
  cursor: default;
}

.form-button-secondary {
  background-color: transparent;
  color: var(--main-colour);
  transition: var(--hover-transition);
}

.form-button-secondary:hover {
  background-color: var(--main-colour);
  color: var(--light-text);
  transition: var(--hover-transition);
}

.propose-button {
  border-radius: 0.4em;
}

.propose-button--matrix,
.propose-button--mail {
  display: none;
}

.propose-button--matrix {
  border-color: var(--elementio-main-bg);
  background-color: var(--elementio-main-bg);
}

.propose-button--matrix:hover {
  border-color: var(--elementio-main-bg-hover);
  background-color: var(--elementio-main-bg-hover);
}

.propose-button--mail {
  border-color: var(--main-colour);
  background-color: var(--main-colour);
}

.propose-button--mail:hover {
  border-color: var(--main-colour-hover);
  background-color: var(--main-colour-hover);
}

.propose-button--codeberg {
  padding-inline: 0.8em;
  border-color: var(--codeberg-main-bg);
  background-color: var(--codeberg-main-bg);
}

.propose-button--codeberg:hover {
  border-color: var(--codeberg-main-bg-hover);
  background-color: var(--codeberg-main-bg-hover);
}

.propose-button-img {
  height: 2em;
  width: auto;
}

.form-contribution-agreement {
  font-size: 0.6em;
  line-height: 1.2;
  min-width: 200px;
  max-width: 100%;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.form-error-outer {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
}

.form-error {
  display: inline-block;
  line-height: 1.2em;
  text-align: center;
  background-color: var(--red-bg-dark);
  color: var(--light-text);
  font-size: 0.8em;
  font-family: var(--main-font-medium);
  border-radius: 0.2em;
  padding: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  cursor: default;
  hyphens: none;
}

.form-error-hidden {
  display: none;
}

.mistake-category {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mistake-category:first-child,
.mistake-item:first-child {
  display: none;
}

.mistake-category-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5em;
}

.mistake-category-label,
.mistake-category-label:hover,
.mistake-category-value,
.mistake-category-value:hover {
  text-decoration: none;
  cursor: default;
  hyphens: none;
}

.mistake-category-label {
  color: var(--text-grey-light);
}

.mistake-category-value {
  color: var(--text-grey);
  font-family: var(--main-font-bold);
}

.mistake-category-addMistake-outer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.mistake-category-addMistake {
  font-size: 2.1em;
  color: var(--main-colour);
  cursor: pointer;
  transition: var(--hover-transition);
}

.mistake-category-addMistake:hover {
  color: var(--main-colour-hover);
}

.mistake-item {
  display: block;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,auto);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  background-color: var(--light-grey-bg-bg);
  border-radius: 0.2em;
}

.mistake-item-left {
  grid-column: 1;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  column-gap: 0.8em;
}

.mistake-item-move-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1px;
  background-color: transparent;
}

.mistake-item-move,
.mistake-item-edit,
.mistake-item-delete {
  color: var(--light-text);
  cursor: pointer;
  padding: 0.6em;
  padding-top: 0em;
  padding-bottom: 0em;
  width: fit-content;
  transition: var(--hover-transition);
  display: flex;
  align-items: center;
}

.mistake-item-move {
  background-color: var(--blue-bg);
  display: flex;
  column-gap: 0.4em;
}

.mistake-item-move:hover {
  background-color: var(--blue-bg-hover);
  transition: var(--hover-transition);
}

.mistake-item-move-text,
.mistake-item-edit-text {
  display: none;
  font-size: 0.8em;
  hyphens: none;
}

.mistake-item:nth-child(2) .mistake-item-move--up,
.mistake-item:last-child .mistake-item-move--down {
  opacity: 0.5;
  cursor: default;
}

.mistake-item:nth-child(2) .mistake-item-move--up:hover,
.mistake-item:last-child .mistake-item-move--down:hover {
  background-color: var(--blue-bg);
}

.mistake-item-move:first-child {
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.mistake-item-move:last-child {
  /*border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;*/
}

.mistake-item-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.mistake-item-id {
  font-family: var(--main-font-bold);
}

.mistake-label,
.mistake-label:hover,
.mistake-value,
.mistake-value:hover {
  text-decoration: none;
  cursor: default;
}

.mistake-label {
  color: var(--text-grey-light);
  font-family: var(--main-font-bold);
  font-size: 0.7em;
}

.mistake-value {
  color: var(--text-grey);
}

.mistake-item-right {
  grid-column: 2;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mistake-item-edit {
  color: var(--main-colour);
}

.mistake-item-edit:hover {
  color: var(--main-colour-hover);
}

.mistake-item-delete {
  background-color: var(--red-bg-dark);
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.mistake-item-delete:hover {
  background-color: var(--red-bg-dark-hover);
  transition: var(--hover-transition);
}

.generate-button-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.mistake-single-edit {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.80);
  font-family: var(--main-font);
  overflow-y: auto;
}

.mistake-single-edit--hidden {
  display: none;
}

.mistake-single-edit-inner {
  width: min(600px, calc(100% - 1em));
  height: fit-content;
  position: relative;
  margin-bottom: 100px;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  /*display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 40px;*/
}

.mistake-single-edit-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 40px;
  width: min(calc(100% - 1em), 500px);
  height: fit-content;
  background-color: var(--light-bg);
  border-radius: 0.4em;
  margin-inline: auto;
}

.mistake-single-edit-headline-div {
  display: grid;
  grid-template-columns: calc(100% - 30px) 39px;
  grid-template-rows: repeat(2, auto);
  row-gap: 0.2em;
  justify-content: center;
  background-color: var(--light-grey-bg);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 1.2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  width: calc(100% - 2.4em);
}

.mistake-single-edit-headline {
  font-family: var(--title-font);
  color: var(--main-colour);
  font-size: 2em;
  cursor: default;
  justify-self: center;
  transform: translate(15px,0);
}

.mistake-single-edit-headline-close {
  width: 30px;
  justify-self: end;
  height: 30px;
  display: grid;
  align-items: center;
  align-self: center;
  background-color: var(--light-grey-bg-bg);
  border-radius: 0.2em;
  color: var(--dark-grey);
  justify-items: center;
  position: absolute;
  transition: var(--hover-transition);
  cursor: pointer;
}

.mistake-single-edit-headline-close:hover {
  color: #4d4d4d;
  background-color: var(--light-grey-bg-bg-hover);
  transition: var(--hover-transition);
}

.mistake-single-edit-headline-uid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  width: fit-content;
  justify-self: center;
  font-family: monospace;
  color: var(--dark-grey);
  background-color: var(--light-grey-bg-bg);
  padding-inline: 0.4em;
  padding-block: 0.2em;
  border-radius: 0.4em;
}

.uid-hidden {
  display: none;
}

.mistake-single-edit-form {
  width: fit-content;
  max-width: calc(100% - 1.6em);
  margin: auto;
  padding-left: 0.8em;
  padding-right: 0.8em;
  /*padding-top: 1.5em;
  padding-bottom: 1.5em;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2em;
}

.mistake-single-edit-form-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  max-width: 100%;
}

.mistake-edit-label {
  color: var(--main-colour);
  font-family: var(--main-font-bold);
  display: block;
}

.mistake-edit-desc {
  display: block;
  max-width: 300px;
  font-family: var(--main-font-light);
  font-size: 0.8em;
  color: var(--text-grey);
  line-height: 1.4;
}

.mistake-edit-radio-label-general {
  margin-bottom: 6px;
  display: block;
}

.mistake-edit-input {
  width: min(300px, calc(100% - 1.6em));
  padding: 0.8em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 0.2em;
  border: 1px solid var(--light-grey-input-border);
  transition: 100ms;
  font-family: var(--main-font);
  font-size: 0.8em;
}

.mistake-edit-input:focus,
.mistake-edit-input:focus-visible {
  transition: 100ms;
  border-color: var(--main-colour) !important;
  box-shadow: 0 0 0 1px var(--dark-main-colour), 0 0 0 4px var(--light-main-colour);
  outline: none;
}

textarea.mistake-edit-input {
  resize: vertical;
  min-height: 2.5em;
  height: 5em;
  max-height: 300px;
}

select.mistake-edit-input {
  border: none !important;
  box-shadow: none !important;
  width: fit-content;
  background-color: var(--main-colour);
  color: var(--light-text);
}

.mistake-edit-input-checkbox {
  display: none;
}

.mistake-edit-check-label {
  display: flex;
  margin-top: 6px;
  align-items: center;
}

.mistake-edit-check-label:before {
  content: " ";
  display: block;
  margin: 0 5px 0 0;
  width: 12px;
  height: 12px;
  border: 2px solid var(--main-colour);
  border-radius: 0.1em;
  background-color: transparent;
  transition: 0.3s;
  color: var(--light-text);
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: bold !important;
  font-variant: normal;
  font-size: 12px;
  text-transform: none;
  line-height: 1;
}

.mistake-edit-input-checkbox:checked + label:before {
  content: '\F633';
  background-color: var(--main-colour);
}

.mistake-edit-input-radio {
  width: fit-content;
  display: none;
}

.mistake-edit-radio-label {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.mistake-edit-radio-label:before {
  content: " ";
  display: inline-block;
  margin: 0 5px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 11px;
  border: 2px solid var(--main-colour);
  background-color: transparent;
  transition: 0.3s;
}

.mistake-edit-input-radio:checked + label:before {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  content: " ";
  display: block;
  background: var(--main-colour);
}

.mistake-single-edit-save-div {
  display: flex;
  flex-direction: row;
  column-gap: 0.8em;
  justify-content: end;
  background-color: var(--light-grey-bg);
  padding-inline: 1em;
  width: calc(100% - 2em);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding-block: 1.2em;
}

.mistake-single-close {
  color: var(--light-text);
  font-size: 2em;
  cursor: pointer;
  transition: var(--hover-transition);
  height: fit-content;
}

.mistake-single-close:hover {
  color: var(--light-red-bg);
  transition: var(--hover-transition);
}

.toast {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  max-width: 90vw;
  height: fit-content;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,0);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid white;
  border-radius: 100px;
}

.toast--success {
  background-color: var(--main-colour);
  color: var(--light-text);
}

.toast--show {
  visibility: visible;
  animation: fadein 0.5s,
             stay 3s 1s,
             fadeout 0.5s 4.5s;
}

.toast-icon {
  font-size: 1.5em;
}

@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}

@keyframes stay {
  from { }
  to { }
}

@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 60px; opacity: 0; }
}