.card-arrow {
  display: block;
  cursor: default;
}

.card-arrow-invisible {
  visibility: hidden;
}

.card-arrow a {
  display: block;
  color: var(--light-grey-bg-bg);
  font-size: 80px;
  cursor: default;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  transition: var(--hover-transition);
}

.card-arrow-lower a {
  font-size: 50px;
}

.card-arrow a:hover {
  color: var(--light-grey-bg-bg-hover);
}

.card-arrow a i {
  cursor: pointer;
}

.card-arrow-lower a i {
  cursor: pointer;
}

.card-arrow-lower-container {
  grid-row: 2;
  grid-column: 2;
  display: none;
  grid-template-columns: repeat(3, auto);
}

.card-arrow-lower-right {
  text-align: right;
}

.card-arrow-lower-left,
.card-arrow-lower-right {
  text-align: center;
}

.card-arrow-lower a {
  top: 0;
  transform: none;
}

.card-arrow-lower-left {
  /*padding-left: 1.5em;*/
}

.card-arrow-lower-right {
  /*padding-right: 1.5em;*/
}

.card-random-container {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  display: none;
  justify-content: center;
}

.card-random-container-visible {
  display: flex;
}

.card-random-container-lower {
  display: none;
  justify-content: center;
}

.card-random-button {
  font-size: 0.8em;
  height: fit-content;
  align-self: center;
  display: flex !important;
  flex-direction: row;
  column-gap: 0.5em;
}

.card-random-button-text {
  font-style: normal;
}

.grammle-card {
	display: grid;
	text-align: center;
	height: fit-content;
  /*width: calc(50% - 25px);*/
}

.grammle-card-type-container {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-style: solid;
	border-width: 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.8rem;
	cursor: default;
	border: 1px solid var(--light-grey-bg-border);
	background-color: var(--light-grey-bg);
	border-bottom-style: none;
}

.grammle-card-type {
	font-family: var(--main-font-black);
}

.grammle-card-id {
	font-size: 1.5rem;
	color: var(--text-grey-light);
	font-family: var(--main-font-black);
}

.grammle-card-title-container {
	padding-bottom: 0.8em;
	border: 1px solid var(--light-grey-bg-border);
	border-top-style: none;
	border-bottom-style: none;
	background-color: var(--light-grey-bg);
	font-size: 0.8rem;
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.grammle-card-categories {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	color: var(--light-text);
}

.normal-card-types {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.grammle-label {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	border-radius: 0.2em;
  text-transform: capitalize;
  text-decoration: none !important;
  transition: var(--hover-transition);
}

.grammle-label-g {
	background-color: var(--main-colour);
}

.grammle-label-g:hover {
  background-color: var(--main-colour-hover);
}

.grammle-label-s {
	background-color: var(--blue-bg);
}

.grammle-label-s:hover {
  background-color: var(--blue-bg-hover);
}

.grammle-label-v {
  background-color: var(--brown-bg);
}

.grammle-label-v:hover {
  background-color: var(--brown-bg-hover);
}

.grammle-label-b {
	background-color: var(--purple-bg);
}

.grammle-label-b:hover {
  background-color: var(--purple-bg-hover);
}

.grammle-label-o {
	background-color: var(--red-bg-dark);
}

.grammle-label-o:hover {
	background-color: var(--red-bg-dark-hover);
}

.grammle-label-k {
	background-color: var(--yellow-bg);
}

.grammle-label-k:hover {
	background-color: var(--yellow-bg-hover);
}

.grammle-label-a {
  background-color: var(--orange-bg);
}

.grammle-label-a:hover {
  background-color: var(--orange-bg-hover);
}

.grammle-card-content {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1px;
	background-color: var(--medium-red-border);
	width: calc(100% - 1px);
}

.grammle-card-content-warning {
  background-color: var(--medium-green-border);
}

.grammle-card-content-info {
  background-color: var(--medium-blue-border);
}

.grammle-card-content-verbrannt {
  background-color: var(--medium-brown-border);
}

.grammle-card-content-container {
	cursor: default;
  /*hyphens: auto;
  hyphenate-limit-chars: 6 4 4;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 20%;*/
}

.grammle-card-content-headline {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin-bottom: 20px;
}

.grammle-card-content-headline i {
	font-size: 1em;
}

.grammle-card-content-headline-text {
	font-size: 0.8em;
	vertical-align: 1px;
}

.grammle-card-content-headline-wrong {
	background-color: var(--medium-red-border);
  color: var(--light-text);
}

.grammle-card-content-headline-correct {
	background-color: var(--medium-green-border);
  color: var(--light-text);
}

.grammle-card-content-headline-warning {
  background-color: var(--medium-yellow-border);
  color: var(--dark-yellow-text);
}

.grammle-card-content-headline-info {
  background-color: var(--medium-blue-border);
  color: var(--light-text);
}

.grammle-card-content-headline-verbrannt {
  background-color: var(--brown-bg);
  color: var(--light-text);
}

.grammle-card-wrong-container {
	grid-column: 1;
	background-color: var(--light-red-bg);
	color: var(--dark-red-text);
	border: 1px solid var(--medium-red-border);
	border-right-style: none;
}

.grammle-card-warning-container {
	background-color: var(--light-yellow-bg);
	color: var(--dark-yellow-text);
	border-color: var(--medium-yellow-border);
}

.grammle-card-info-container {
	background-color: var(--light-blue-bg);
	color: var(--dark-blue-text);
	border-color: var(--medium-blue-border);
}

.grammle-card-verbrannt-container {
  background-color: var(--light-brown-bg);
  color: var(--dark-brown-text);
  border-color: var(--medium-brown-border);
}

.grammle-card-correct-container {
	background-color: var(--light-green-bg);
	color: var(--dark-green-text);
	border: 1px solid var(--medium-green-border);
	border-left-style: none;
}

.grammle-card-content-text {
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: -0.05em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.grammle-card-content-example {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	line-height: 0.8em;
}

.grammle-card-content-example a {
	font-size: 0.8em;
}

.grammle-card-more-container {
  border-width: 1px;
  border-style: solid;
  border-top-style: none;
  cursor: default;
}

.grammle-card-more-headline-container {
  padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.grammle-card-more-headline i {
  font-size: 1em;
}

.grammle-card-more-headline {
  font-size: 0.8em;
  vertical-align: 1px;
}

.grammle-card-more-text-container {
  padding-top: 0.5em;
	padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1em;
}

.grammle-card-more-text {
  font-size: 0.8em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.grammle-card-confusion-headline-container {
  background-color: var(--medium-yellow-border);
}

.grammle-card-confusion-container {
  background-color: var(--light-yellow-bg);
  border-color: var(--medium-yellow-border);
  color: var(--dark-yellow-text);
}

.grammle-card-explanation-container {
  background-color: var(--light-blue-bg);
  border-color: var(--medium-blue-border);
  color: var(--dark-blue-text);
}

.grammle-card-explanation-headline-container {
  background-color: var(--medium-blue-border);
  color: var(--light-text);
}

.grammle-card-alt-container,
.grammle-card-note-container,
.grammle-card-related-container {
	background-color: var(--light-grey-bg);
	border-color: var(--light-grey-bg-border);
}

.grammle-card-alt-headline-container,
.grammle-card-note-headline-container,
.grammle-card-related-headline-container {
	background-color: var(--light-grey-bg-bg);
	color: var(--text-grey);
}

.grammle-alt,
.grammle-card-note-text {
	color: var(--text-grey);
}

.grammle-card-related-link {
  transition: var(--hover-transition);
  color: var(--light-text);
  font-size: 0.8em;
  text-decoration: none;
  padding-inline: 0.8em;
  padding-block: 0.4em;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: .25em;
  margin-bottom: .25em;
}

.grammle-card-related-label {
  font-style: normal;
}

.grammle-card-source-container,
.grammle-card-related-text-container {
	background-color: var(--light-grey-bg);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-color: var(--light-grey-bg-border);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.grammle-source-link {
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.grammle-card-source {
	cursor: pointer;
	height: 25px;
	width: auto;
}

.grammle-card-source-label {
	font-size: 0.8em;
	font-style: normal;
	text-decoration: none;
	color: var(--text-grey);
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding-left: 30px;
	padding-right: 0.4em;
	background-color: var(--light-grey-bg-bg);
	background-size: 25px auto;
	background-repeat: no-repeat;
	background-position: top left;
	border-radius: 0.2rem;
	transition: var(--hover-transition);
}

.grammle-card-source-label:hover {
	background-color: var(--light-grey-bg-bg-hover);
}

.grammle-card-source-wikipedia,
.grammle-card-source-spiegel-alt {
	padding-left: 0.4em;
}

.grammle-card-source-digitalcourage {
  padding-inline: 0.6em;
}

.grammle-card-source-wikipedia img,
.grammle-card-source-digitalcourage img,
.grammle-card-source-spiegel-alt svg {
	height: 12px;
	width: auto;
	vertical-align: -1px;
}

.grammle-card-source-digitalcourage img {
  vertical-align: -2px;
}

.grammle-card-source-spiegel-alt svg path {
  fill: var(--text-grey);
}

.grammle-card-source-bastiansick,
.grammle-card-source-dwds-alt {
  padding: 0;
  background-color: transparent;
  vertical-align: middle;
}

.grammle-card-source-bastiansick img,
.grammle-card-source-dwds-alt img {
  height: 25px;
  width: auto;
  border-radius: 0.2rem;
}

.grammle-card-source-dwds {
	background-image: url('../img/sources/dwds-icon-100.webp');
}

/* cwebp dwds-icon.png -o dwds-icon-100.webp -resize 0 100 -q 100 */

.grammle-card-source-spiegel {
	background-image: url('../img/sources/spiegel-75.webp');
}

.grammle-card-source-korrekturende {
	background-image: url('../img/sources/korrekturen.de-100.webp');
}

.grammle-card-source-duden {
	background-image: url('../img/sources/duden.svg');
}

.grammle-card-source-mastodon {
	background-image: url('../img/sources/mastodon-icon-white.svg');
}

.grammle-card-source-pons {
	background-image: url('../img/sources/pons-icon.svg');
}

.grammle-card-source-buch {
	background-image: url('../img/sources/book-grammle.svg');
  /*background-image: url('../img/sources/book-grammle-green.svg');
  background-image: url('../img/sources/book-grammle-white-alt.svg');*/
}

.grammle-card-source-wiktionary {
	background-image: url('../img/sources/wiktionary.svg');
}

.grammle-card-source-dlfkultur {
  background-image: url('../img/sources/dlfkultur.svg');
}

.grammle-card-source-woxikon {
	background-image: url('../img/sources/woxikon-100.webp');
}

.grammle-card-source-cambridge-icon {
	background-image: url('../img/sources/cambridge-icon-new.png');
}

.grammle-card-footer {
	background-color: var(--light-grey-bg);
	border: 1px solid var(--light-grey-bg-border);
	border-top-style: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.grammle-card-footer-element {
	cursor: pointer;
	background-color: var(--light-grey-bg-bg);
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	transition: var(--hover-transition);
	text-decoration: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.grammle-card-footer-element:hover {
	background-color: var(--light-grey-bg-bg-hover);
}

.grammle-card-footer-element-single {
  background-color: var(--light-grey-bg);
}

.grammle-card-footer-element-single:hover {
	background-color: var(--light-grey-bg-bg);
}

.grammle-card-footer-element i {
	color: var(--text-grey);
	font-style: normal;
}

.grammle-card-footer-element-icon {
	font-size: 1.1em;
}

.grammle-card-footer-element-text {
	font-size: 0.8em;
	vertical-align: 2px;
}

.normal-card {
  background-color: var(--light-grey-bg);
  padding: 2em;
  border-radius: 0.6em;
  height: fit-content;
}

.normal-card-title {
  font-family: var(--main-font-light);
  font-size: 2em;
  color: var(--text-grey);
  letter-spacing: -0.03em;
  cursor: default;
}

.normal-card-content {
  margin-top: 20px;
  display: grid;
}

.normal-card-content .normal-card-categories {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.normal-card-categories .grammle-card-categories {
  margin-left: 0;
}

.normal-card-categories-count {
  background-color: var(--light-grey-bg-bg);
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.2em;
  color: var(--text-grey);
  margin-left: 0.5em;
  cursor: default;
}

.normal-card-type-text {
  font-style: normal;
  text-transform: initial;
}

.normal-card-mistake {
  background-color: var(--light-red-bg);
  color: var(--dark-red-text);
}

.normal-card-mistake:hover {
  background-color: var(--medium-red-border);
  color: var(--light-text);
}

.normal-card-warning {
  background-color: var(--light-yellow-bg);
  color: var(--dark-yellow-text);
}

.normal-card-warning:hover {
  background-color: var(--medium-yellow-border);
}

.normal-card-info {
  background-color: var(--light-blue-bg);
  color: var(--dark-blue-text);
}

.normal-card-info:hover {
  background-color: var(--medium-blue-border);
  color: var(--light-text);
}

.normal-card-verbrannt {
  background-color: var(--light-brown-bg);
  color: var(--dark-brown-text);
}

.normal-card-verbrannt:hover {
  background-color: var(--medium-brown-border);
  color: var(--light-text);
}

.normal-card-outer {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}