.home-mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--dark-main-colour-opacity);
  vertical-align: middle;
  z-index: 2;
}

.home-mobile-header-left {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 17.5px;
  vertical-align: middle;
  align-items: center;
  padding-left: 17.5px; /* (70px - 35px) / 2 = 35px / 2 = 17.5px */
  padding-right: 2em;
  text-decoration: none;
  transition: var(--hover-transition);
}

.home-mobile-header-left:hover {
  background-color: var(--dark-main-colour-opacity);
  transition: var(--hover-transition);
}

.home-mobile-header-left img {
  height: 35px;
  width: auto;
}

.home-mobile-header-brand-name {
  color: var(--light-text);
  font-weight: bold;
  font-family: var(--title-font);
  font-size: 1.5em;
  font-style: normal;
  text-decoration: none;
}

.home-mobile-header-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.home-mobile-header-ua-button {
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: center;
  align-items: center;
  transition: var(--hover-transition);
  padding-inline: 2em;
}

.home-mobile-header-ua-button:hover {
  background-color: var(--dark-main-colour-opacity);
  /* background-color: var(--ukraine-blue); */
  transition: var(--hover-transition);
}

.home-mobile-header-ua-icon {
  height: 35px;
  width: auto;
}

.home-mobile-header-ua-link {
  font-family: var(--main-font-medium);
  color: var(--ukraine-yellow);
  text-decoration: none;
  height: 100%;
  line-height: 70px;
  font-style: normal;
}

.home-mobile-header-menu {
  width: 100%;
  height: 100%;
  align-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.home-mobile-header-menu-link {
  color: var(--light-text-opacity);
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 1em;
  height: 100%;
  line-height: 70px;
  padding-inline: 2em;
  transition: var(--hover-transition);
}

.home-mobile-header-menu-link:hover {
  background-color: var(--dark-main-colour-opacity);
  transition: var(--hover-transition);
}

.home-mobile-header-menu-collapsed-outer {
  display: none;
}

.home-mobile-header-menu-collapsed-outer span {
  color: var(--light-text-opacity);
  font-size: 35px;
  cursor: pointer;
  transition: var(--hover-transition);
  height: 100%;
  line-height: 70px;
  padding-inline: 17.5px;
}

.home-mobile-header-menu-collapsed-outer span:hover {
  color: var(--light-text);
  transition: var(--hover-transition);
}

.home-mobile-header-menu-collapsed-close {
  display: none;
}

.header {
  display: none;
  flex-direction: row;
  column-gap: 10px;
  position: fixed;
  top: 3px;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 70px;
  background-color: var(--light-grey-bg);
  border-bottom-style: solid;
  border-width: 1px;
  border-color: var(--light-grey-bg-bg-hover);
  border-top: rgb(255,213,0) 3px solid;
}

.header::before {
  content: " ";
  display: block;
  border-top: rgb(0,91,187) 3px solid;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3px;
}

.header-logo {
  height: 50px;
  width: 50px;
  display: block;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  margin-left: 10px;
}

.header-logo img {
  height: 50px;
  width: auto;
}

.header-title-outer {
  height: fit-content;
  /*! margin-left: 40px; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  row-gap: 0.2em;
}

.header-title {
  line-height: 1.2em;
}

.header-title-text,
.menu-title-text {
  color: var(--main-colour);
  text-decoration: none;
  font-family: var(--title-font);
  font-size: 2em;
}

.header-subtitle-text,
.menu-subtitle-text {
  font-family: var(--main-font);
	font-size: 0.8em;
	background-color: var(--light-grey-bg-bg);
	padding: 0.2em 0.5rem 0.2rem 0.5rem;
	border-radius: 2px;
	color: var(--text-grey);
	cursor: default;
}

.header-menu-outer {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 20px;
  height: min-content;
  top: 50%;
  transform: translate(0,-50%);
}

.header-menu,
.header-menu-close {
  color: var(--light-grey-nav-button);
  font-size: 35px;
  cursor: pointer;
  transition: var(--hover-transition);
}

.header-menu:hover,
.header-menu-close:hover {
  color: var(--light-grey-nav-button-hover);
}

.header-menu-close {
  display: none;
}

.mobile-bottom-title-div {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--light-grey-bg);
  z-index: 2;
  border-top-style: solid;
  border-width: 1px;
  border-color: var(--light-grey-bg-bg-hover);
}

.mobile-bottom-title-div a {
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
}
