.landing-background {
  background-color: var(--main-colour);
}

.home-background {
  width: 100vw;
  height: calc(100vh - 70px);
  min-height: 420px;
  display: grid;
  grid-template-rows: auto 40px;
  grid-template-columns: 1fr 1fr;
  color: var(--light-text);
  font-family: var(--main-font);
  z-index: 1;
  position: relative;
  top: 70px;
}

.home-bg-circles-green,
.home-bg-circles-white {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home-main {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: fit-content;
  height: fit-content;
  max-width: 95vw;
  display: flex;
  column-gap: 50px;
}

.home-main-left {
  grid-column: 1;
  max-width: 250px;
  justify-self: end;
  align-self: center;
}

.home-main-right {
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3,auto);
  row-gap: 25px; /* adds 25px gap at bottom */
  margin-bottom: -25px;
  align-self: center;
  width: fit-content;
  max-width: min(450px,85vw);
}

.home-title {
  width: fit-content;
  max-width: 95vw;
  display: grid;
  grid-template-rows: repeat(2,auto);
  row-gap: 25px;
}

.home-title-headline {
  grid-row: 1;
  font-size: 4rem;
  font-family: var(--title-font);
}

.underline-wrong {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--red-bg);
}

.home-title-subheadline {
  grid-row: 2;
  font-size: 2rem;
  font-family: var(--main-font-light);
  opacity: 0.85;
}

.home-cta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.home-cta-button {
  color: var(--light-text);
  opacity: 0.9;
  text-decoration: none;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: var(--dark-main-colour);
  transition: var(--hover-transition);
  border-radius: 0.3em;
  font-size: 1.1em;
}

.home-cta-button:hover {
  background-color: var(--dark-main-colour-hover);
  transition: var(--hover-transition);
}

.home-cta-button--primary {
  color: var(--dark-main-colour);
  background-color: var(--light-bg);
}

.home-cta-button--primary:hover {
  background-color: var(--light-bg-opacity);
  transition: var(--hover-transition);
}

.home-cta-button i {
  transform: scale(-1, 1);
}

.home-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-categories .grammle-label-g {
  background-color: var(--dark-main-colour);
}

.home-categories .grammle-label-g:hover {
  background-color: var(--dark-main-colour-hover);
}

.home-social-icon {
  grid-row: 2;
  grid-column: 1;
  display: block;
  position: relative;
  left: 15px;
  padding: 20px;
  margin: -20px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  padding-bottom: 15px;
  padding-right: 25px;
  margin-right: -25px;
  transform: translate(0, -10px);
}

.home-social-icon a {
  font-size: 1.8em;
  color: #ffffff7a;
  transition: var(--hover-transition);
}

.home-social-icon:hover a {
  color: var(--light-text);
}

.home-bg-brand {
  grid-row: 2;
  grid-column: 2;
  display: block;
  justify-self: end;
  /*align-self: end;
  position: absolute;
  bottom: 15px;
  right: 25px;*/
  position: relative;
  right: 2em;
  font-size: 0.9em;
  cursor: default;
  height: fit-content;
  width: fit-content;
}

.home-bg-brand img {
  width: 18px;
  heigth: auto;
  vertical-align: bottom;
}

.home-bg-brand-name {
  font-family: var(--title-font);
}

.home-bg-brand-by {
  font-family: var(--main-font-light);
  font-size: 0.85em;
}

.home-bg-brand-link,
.home-bg-brand-by-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}