.main-right {
	padding: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px;
	width: calc(75vw - 80px);
  /*position: absolute;
  right: 0px;
	overflow-x: hidden;*/
	position: relative;
	left: 25vw;
}

.main-right-hidden {
	display: none;
}

.main-right-normal {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-right-inner {
	max-width: 800px;
	box-sizing: border-box;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	display: grid;
	grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  /*display: flex;
  flex-wrap: wrap;*/
  row-gap: 30px;
}

.main-right-inner-small {
  column-gap: 50px;
}

.main-right-inner-single-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
	flex-direction: column;
}

.main-right-inner-single {
	margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  width: min-content;
  display: grid;
  grid-template-columns: 80px 400px 80px;
  column-gap: 40px;
	grid-template-rows: auto auto;
}

.main-right-inner-single-list .grammle-card {
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  max-width: 400px;
  grid-column: 2;
}

.main-right-inner-single .grammle-card {
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  width: 400px;
  max-width: min(400px,95vw);
}

.main-right-inner-left,
.main-right-inner-right {
  display: flex;
  flex-flow: column;
  row-gap: 80px;
}

.main-right-inner-left-small,
.main-right-inner-right-small {
  row-gap: 50px;
}
