.main-left {
	position: fixed;
  height: 100vh;
  width: 25vw;
  box-sizing: border-box;
	background-color: var(--light-grey-bg);
	border-top: rgb(0,91,187) 5px solid;
	box-shadow: 0px 0px 6px var(--light-grey-bg-bg-hover);
}

.main-left::before {
	content: " ";
	display: block;
	border-top: rgb(255,213,0) 5px solid;
}

.main-left * {
	z-index: 1;
}

.main-left-circles-white {
	z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main-left-header-container {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 20px;
  cursor: default;
}

.main-left-header {
  text-align: center;
}

.main-left-header-text {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
  color: var(--text-grey);
}

.main-left-header-text-important {
	color: var(--light-text);
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-radius: 5px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	cursor: default;
}

.main-left-header-text-o {
	background: linear-gradient(120deg, red 0%, var(--red-bg-dark) 100%);
}

.main-left-header-text-g {
	background: linear-gradient(120deg, #1faa96 0%, #0f6f61 100%);
}

.main-left-header-text-b {
	background: linear-gradient(120deg, #c80ace 0%, #5c0060 100%);
}

.main-left-header-text-v {
	background: linear-gradient(90deg, rgba(128,76,50,1) 0%, rgba(79,41,22,1) 100%);
}

.main-left-header-text-k {
	background: linear-gradient(120deg, #FF9D04 0%, #A66500 100%);
	background: linear-gradient(90deg, rgba(251,176,59,1) 0%, rgba(193,117,0,1) 100%);
}

.main-left-header-text-s {
	background: linear-gradient(120deg, #0386d5 0%, #024d7b 100%);
}

.main-left-header-text-a {
	background: linear-gradient(90deg, rgba(245,124,30,1) 0%, rgba(179,81,7,1) 100%);
}

.main-left-header-text-f, .main-left-header-text-w, .main-left-header-text-i {
	/*box-shadow: none;*/
}

.main-left-header-text-f {
	background-color: var(--light-red-bg);
	color: var(--dark-red-text);
}

.main-left-header-text-w {
	background-color: var(--light-yellow-bg);
	color: var(--dark-yellow-text);
}

.main-left-header-text-i {
	background-color: var(--light-blue-bg);
	color: var(--dark-blue-text);
}

.main-left-inner {
  display: grid;
  grid-template-rows: auto auto min-content;
  width: 100%;
  height: calc(50vh + 35px); /* title + subtitle height = ca. 70px */
  position: absolute;
  bottom: 0px;
}

.main-left-title-container {
	/*position: absolute;
	top: 50%;*/
	width: 100%;
	/*transform: translate(0,-50%);*/
	display: grid;
	grid-template-rows: repeat(2, min-content);
}

.main-left-title-element {
	text-align: center;
}

.main-left-title {
	grid-row: 1;
	margin-bottom: 0.5rem;
}

.main-left-title-text {
	font-family: var(--title-font);
	font-size: 2.5rem;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.main-left-title-text,
.main-left-title-text::selection {
	color: var(--main-colour);
	background-color: transparent;
}

.main-left-subtitle {
	grid-row: 2;
}

.main-left-subtitle-text {
	font-family: var(--main-font);
	font-size: 1rem;
	background-color: var(--light-grey-bg-bg);
	color: var(--text-grey);
	padding: 0.2em 0.5rem 0.2rem 0.5rem;
	border-radius: 2px;
	cursor: default;
}

.main-left-subtitle-text,
.main-left-subtitle-text::selection {
	background-color: var(--main-colour);
	color: var(--light-text);
}

.main-left-categories-container {
  /*margin-bottom: 30px;
  position: absolute;
  bottom: 25vh;*/
  padding-left: 20px;
  padding-right: 20px;
	font-size: 0.9rem;
	overflow-y: auto;
	padding-block: 1em;
}

.main-left-categories-top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}

.main-left-categories-top-item {
	color: var(--text-grey);
	background-color: var(--light-grey-bg-bg);
	text-decoration: none;
	font-style: normal;
	width: fit-content;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	border-radius: 0.2em;
	transition: var(--hover-transition);
	cursor: pointer;
}

.main-left-categories-top-item:hover {
	background-color: var(--light-grey-bg-bg-hover);
	transition: var(--hover-transition);
}

.random-rule-button {
	display: none;
}

.random-rule-button-visible {
	display: inline-block;
}

.main-left-categories-top-item-text {
	font-style: normal;
	text-decoration: none;
}

.main-left-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.main-left-footer-container {
	display: block;
	/*position: absolute;
	bottom: 0px;*/
	width: calc(100% - 1px);
}

.main-left-footer {
	text-align: center;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1px;
	background-color: var(--light-grey-bg-border);
}

.main-left-footer-element {
	font-family: var(--main-font-light);
	font-size: 0.8rem;
	cursor: pointer;
	background-color: var(--light-grey-bg-bg);
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	transition: var(--hover-transition);
  text-decoration: none;
}

.main-left-footer-element:hover {
	background-color: var(--light-grey-bg-bg-hover);
}

.main-left-footer-element i {
	color: var(--text-grey);
	text-decoration: none;
  font-style: normal;
}
