.menu {
  display: none;
  position: fixed;
  top: 77px; /* header: 70px height + 1px border + 6px Ukraine flag */
  left: 0;
  z-index: 2;
  background-color: var(--light-bg);
  width: 100vw;
  height: calc(100vh - 77px);
  overflow-y: auto;
}

.landing-background .menu {
  top: 70px; /*header: no Ukraine flag */
}

.menu-inner {
  display: grid;
  grid-template-rows: repeat(2,auto);
  height: fit-content;
  padding-block: 20px;
}

.menu-title-container {
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: var(--light-grey-bg);
  width: 100vw;
  height: 70px;
}

.menu-content {
  grid-row: 1;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  width: calc(100vw - 80px);
  height: fit-content;
  margin-bottom: 120px;
}

.menu-list-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 20px;
}

.menu-list-outer {
  display: block;
  width: auto;
  height: fit-content;
}

.menu-list {
  display: block;
  line-height: 1.8;
  background-color: var(--light-grey-bg-bg);
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.2em;
  color: var(--text-grey);
  text-decoration: none;
  transition: var(--hover-transition);
  cursor: pointer;
}

.menu-list:hover {
  background-color: var(--light-grey-bg-bg-hover);
}

.menu-list i {
  font-style: normal;
}

.menu-headline {
  font-size: 1.5em;
  font-family: var(--main-font-black);
  color: var(--light-grey-bg-bg-hover);
}

.menu-categories, .menu-types-container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.menu-categories .grammle-card-categories .grammle-label.grammle-label-g {
  margin: 0;
}

.menu-categories .normal-card-categories a, .menu-types-container .normal-card-categories a {
  display: block;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.8;
}

.menu-categories .grammle-card-categories {
  margin-right: 0;
}

.menu-types {
  margin: 0 !important;
}

.menu-footer-container {
	display: inline-block;
	grid-row: 2;
	width: calc(100vw - 1px);
	height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
}

.menu-footer {
	text-align: center;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1px;
	background-color: var(--light-grey-bg-border);
}

.menu-footer-element {
	font-family: var(--main-font-light);
	font-size: 0.8rem;
	cursor: pointer;
	background-color: var(--light-grey-bg-bg);
	display: block;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	transition: var(--hover-transition);
  text-decoration: none;
}

.menu-footer-element:hover {
	background-color: var(--light-grey-bg-bg-hover);
}

.menu-footer-element i {
	color: var(--text-grey);
	text-decoration: none;
  font-style: normal;
}

.ua-button-outer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 0.4em;
}

.ua-button {
  background-color: var(--ukraine-blue);
  transition: var(--hover-transition);
  display: flex;
  flex-direction: row;
  column-gap: 0.6em;
  align-items: center;
  justify-content: center;
  padding-inline: 1.8em;
  padding-block: 1.2em;
  border-radius: 0.4em;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  align-self: center;
  justify-self: center;
}

.ua-button:hover {
  background-color: var(--ukraine-blue-hover);
  text-decoration: none;
}

.ua-button img {
  height: 35px;
  width: auto;
}

.ua-button-text {
  color: var(--ukraine-yellow);
  font-family: var(--main-font-medium);
  text-decoration: none;
  font-style: normal;
}