@media (max-width: 1000px){
  .main-left {
    width: 30vw;
  }

  .main-right {
    width: calc(70vw - 80px);
    left: 30vw;
  }

  .main-right-inner-small {
    column-gap: 10px;
  }

  .main-right-inner-left-small,
  .main-right-inner-right-small {
    row-gap: 20px;
  }

  .previous-left,
  .previous-right {
    display: none;
  }

  .card-arrow-lower-container {
    display: grid;
  }

  .main-right-inner-single {
    grid-template-columns: 0px auto 0px;
  }

  .main-right-inner-single .grammle-card {
    grid-column: 2;
  }

  .card-random-container {
    display: none;
  }

  .card-random-container-lower {
    display: flex;
  }
}

@media (max-width: 980px){
  .main-right-normal {
    width: calc(70vw - 20px);
    width: calc(70vw - 70px);
    padding-left: 35px;
    padding-right: 35px;
  }

  .main-right-inner {
    column-gap: 10px;
  }
}

@media (max-width: 920px){
  .main-left {
    width: 40vw;
  }

  .main-right {
    width: calc(60vw - 80px);
    left: 40vw;
  }

  .main-right-normal {
    width: calc(60vw - 20px);
    width: calc(60vw - 70px);
  }

  .main-right-hidden {
    display: block;
  }

  .main-right-visible {
    display: none;
  }

  .main-right-inner-single-list {
    row-gap: 35px;
  }

  .main-right-normal .main-right-inner {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  article blockquote {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .home-mobile-header {
    grid-template-columns: auto auto;
  }

  .home-mobile-header-middle {
    display: none;
  }
}

@media (max-width: 760px){
  .home-main {
    max-width: 80vw;
  }

  .home-main-left {
    display: none;
  }
}

@media (orientation: portrait), (max-width: 740px), (max-height: 520px){
  .header {
    display: flex;
  }

  .main-left {
    display: none;
  }

  .main-right {
    margin-top: 70px;
    width: calc(100% - 80px);
    left: 50%;
    transform: translate(-50%,0);
  }

  .main-right--summary-table {
    width: 100%;
    padding-inline: 0;
  }

  .grammle-summary-table-head {
    top: 74px;
  }

  .main-right-inner {
    column-gap: 10px;
    margin-bottom: 60px;
  }

  .mobile-bottom-title-div {
    display: block;
  }
}

@media (max-width: 600px) {
  .home-mobile-header-menu-link {
    display: none;
  }

  .home-mobile-header-menu-collapsed-outer {
    display: block;
  }

  .home-main-right {
    max-width: min(450px, 95vw);
  }

  .home-title-headline {
    font-size: 3rem;
  }

  .home-title-subheadline {
    font-size: 1.5rem;
  }

  .home-title,
  .home-main-right {
    row-gap: 1.2em;
  }

  .home-cta {
    row-gap: 0.9em;
  }

  .home-cta-button {
    font-size: 0.9em;
    padding-block: 1em;
  }
}

@media (max-height: 350px) {
  .home-social-icon {
    display: none;
  }

  .mobile-bottom-title-div {
    display: none !important;
  }
}

@media (max-width: 500px){
  .form-section {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    row-gap: 1em;
  }

  .form-section-nr {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
  }

  .form-section-content {
    grid-column: 1;
    grid-row: 2;
  }

  .mistake-category-data {
    display: grid;
    grid-template-rows: repeat(2, 20px);
    grid-template-columns: repeat(2, auto);
  }

  .mistake-category-label {
    grid-column: 1;
    grid-row: 1;
  }

  .mistake-category-value {
    grid-column: 1;
    grid-row: 2;
  }

  .mistake-category-addMistake-outer {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .mistake-item {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    margin-block: 4em;
  }

  .mistake-item:nth-child(2n) {
    margin-top: 1.2em;
  }

  .mistake-item-left {
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(3, auto);
  }

  .mistake-item-left,
  .mistake-item-right {
    width: 100%;
  }

  .mistake-item-data {
    padding-inline: 0.5em;
  }

  .mistake-item-move {
    padding-block: 0.6em;
  }

  .mistake-item-move,
  .mistake-item-edit,
  .mistake-item-delete {
    width: calc(100% - 1.2em);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5em;
  }

  .mistake-item-edit:hover {
    color: var(--light-text);
    background-color: var(--main-colour-hover);
  }

  .mistake-item-move:last-child {
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
  }

  .mistake-item-move-text,
  .mistake-item-edit-text {
    display: inline-block;
  }

  .mistake-item-move-container {
    margin-bottom: 1em;
  }

  .mistake-item-move-container,
  .mistake-item-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .mistake-item-right {
    grid-column: 1;
    grid-row: 2;
    justify-content: flex-start;
    margin-top: 1em;
  }

  .mistake-item-edit {
    background-color: var(--main-colour);
    color: var(--light-text);
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    padding-block: 0.6em;
  }

  .mistake-single-edit-inner {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 1em;
    width: 100%;
  }

  .mistake-single-close {
    grid-row: 1;
    display: flex;
    justify-content: center;
  }

  .mistake-single-content {
    grid-row: 2;
  }
}

@media (max-width: 430px){
  .grammle-summary-table thead tr td:first-child,
  .grammle-summary-table tbody tr td:first-child {
    display: none;
  }
}

@media (max-width: 400px){
  .main-right {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-right--summary-table {
    width: 100%;
    padding-inline: 0;
  }

  h1,
  h1 .headline-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }

  h1 .headline-text-outer {
    text-align: center;
  }

  .teaser {
    padding-left: 0;
    padding-right: 0;
  }

  .mistake-single-edit-headline-uid {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 370px){
  .home-cta-button {
    width: 100%;
    text-align: center;
  }

  .social-media-profile-text-span {
    max-width: 13ch;
  }

  .grammle-summary-table thead tr td:last-child,
  .grammle-summary-table tbody tr td:last-child {
    display: none;
  }

  .grammle-summary-table-wrong,
  .grammle-summary-table-correct {
    padding-inline: 0.3em;
  }

  .form-button-container--propose .socialmedia-profile-widget {
    display: none;
  }

  .propose-button--matrix,
  .propose-button--mail {
    display: block;
  }
}

@media (max-width: 310px) {
  .header-title-outer {
    display: none;
  }

  .card-random-container {
    background-color: none;
  }

  .card-random-button {
    background-color: var(--main-colour);
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .card-random-button-text {
    display: none;
  }
}

@media (orientation: portrait){
  .home-main {
    top: 30px;
    transform: translate(-50%, 0);
  }

  .home-social-icon {
    display: none;
  }

  .home-bg-brand {
    font-size: 1.2rem;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    right: initial;
  }

  .home-bg-brand img {
    width: 25px;
  }

  .teaser {
    padding-left: 0;
    padding-right: 0;
  }

  .normal-categories, .article-types-container {
    display: flex;
    flex-direction: column;
  }

  .normal-card-categories .grammle-label {
    margin-right: 0px;
  }

  .normal-card-categories-count {
    margin-left: 0px;
  }

  .normal-card-categories a {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .article-types {
    margin-left: 0 !important;
    margin-right: 0;
  }
}
