:root {
	--title-font: 'Patua One';
	--main-font: 'Inter';
	--main-font-black: 'Inter Black';
  --main-font-bold: 'Inter Bold';
	--main-font-medium: 'Inter Medium';
	--main-font-light: 'Inter Light';

	--main-colour: #1e9d8b;
  --main-colour-hover: #198a7a;
	--secondary-colour: #d9fdf8;

	--dark-main-colour: #137768;
	--dark-main-colour-hover: #0f6a5d;
	--dark-main-colour-opacity: rgba(19,119,104,0.75);
	--dark-main-colour-hover-opacity: rgba(15, 106, 93, 0.75);

	--dark-grey: #4d4d4d;

	--light-main-colour: #1e9d8b59;

  --hover-transition: 0.3s;

	--dark-bg: #333;
	--light-bg: white;
	--light-bg-opacity: rgba(255, 255, 255, 0.9);

	--red-bg: #d90000;
	--red-bg-dark: #b30101;
  --red-bg-dark-hover: #9f0101;

	--blue-bg: #006eb0;
  --blue-bg-hover: #005e97;

	--ukraine-blue: rgb( 0, 91, 187);
	--ukraine-blue-hover: hsl(211, 100%, 30%);
	--ukraine-blue-opacity: rgba(0, 91, 187, 0.85);
	--ukraine-blue-opacity-2: rgba(0, 91, 187, 0.5);

	--brown-bg: #77442b;
	--brown-bg: #93634c;
	--brown-bg-hover: #663d28;
	--brown-bg-hover: #77442b;

	--purple-bg: #900095;
  --purple-bg-hover: #810086;

  --yellow-bg: hsl(37, 88%, 49%);
  --yellow-bg-hover: hsl(37, 88%, 46%);
	--ukraine-yellow: #fcd700ff;

	--orange-bg: hsl(26, 90%, 45%);
	--orange-bg-hover: hsl(26, 90%, 42%);

	--dark-red-text: #590000;
	--light-red-bg: #f99393;
	--medium-red-border: hsl(0, 67%, 60%);

	--light-green-bg: #a4d9a4;
	--dark-green-text: #004a16;
	--medium-green-border: hsl(137, 49%, 48%);

  --dark-yellow-text: #664b21;
  --medium-yellow-border: #eabb5f;

  --light-blue-bg: #a4d2d9;
  --dark-blue-text: #005c6a;
  --medium-blue-border: #489bb5;

	--light-brown-bg: #c1a495;
	--dark-brown-text: #4f2916;
	--medium-brown-border: #93634c;

  --light-yellow-bg: #ecda78;
	--light-text: white;
	--light-text-opacity: rgba(255, 255, 255, 0.85);
	--light-text-dark: #ffffffc4;

	--light-grey-bg: #f4f4f4;
	--light-grey-bg-bg: #e6e6e6;
	--light-grey-bg-bg-hover: #dbdbdb;
	--light-grey-bg-border: var(--light-grey-bg-bg-hover);

	--light-grey-nav-button: hsl(0, 0%, 80%);
	--light-grey-nav-button-hover: hsl(0, 0%, 70%);

	--light-grey-input-border: #c6c6c6;

	--text-grey: #606060;
	--text-grey-light: #cacaca;

  --link-blue: #2968b9;
	--link-blue: var(--ukraine-blue);
	--link-blue-hover: var(--ukraine-blue-hover);
  --text-dark: #333;
  --anchor-grey: #acacac;

	--social-media-check-mark: #2b90d9;
	--mastodon-main-bg: #2b90d9;
	--mastodon-main-bg-hover: #56a7e1;
	--mastodon-main-bg: #595aff;
	--mastodon-main-bg-hover: #6364ff;
	--mastodon-label-bg-hover: #267cbb;
	--elementio-main-bg: #0dbd8b;
	--elementio-main-bg-hover: #099970;
	--keyoxide-main-bg: #7868ca;
	--keyoxide-main-bg-hover: #6a5bb9;
	--codeberg-main-bg: #2185d0;
	--codeberg-main-bg-hover: #19659f;
}

html {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

body {
	left: 0;
	top: 0;
	margin: 0 0 0 0;
	padding: 0;
  font-family: var(--main-font);
	width: 100vw;
	overflow-x: hidden;
}

.brand {
	font-family: var(--title-font);
	font-size: 1.1em;
}
