.grammle-summary-table {
  border-spacing: 1px;
  width: fit-content;
  max-width: calc(100% - 20px);
  margin-inline: auto;
}

.grammle-summary-table-head-tr {
  background-color: white;
}

.grammle-summary-table-head {
  font-size: 1.4em;
  position: sticky;
  top: 0px;
}

.grammle-summary-table-head--description {
  font-size: 0.6em;
  font-family: var(--main-font-light);
  display: block;
  width: min-content;
  text-align: center;
}

.grammle-summary-table-head--id,
.grammle-summary-table-id {
  text-align: right;
}

.grammle-summary-table-head--wrong,
.grammle-summary-table-head--correct {
  background-color: var(--light-bg);
  padding-block: 0px;
  padding-inline: 0px;
}

.grammle-summary-table-head--wrong {
  box-shadow: 0 20px 20px -20px var(--medium-red-border);
}

.grammle-summary-table-head--correct {
  box-shadow: 0 20px 20px -20px var(--medium-green-border);
  z-index: 1;
}

.grammle-summary-table-head-inner {
  margin-top: 10px;
  display: block;
  color: var(--light-text);
  cursor: default;
  border-bottom-style: solid;
  border-width: 1px;
  text-align: center;
  padding-block: 0.8em;
  padding-inline: 0.8em;
}

.grammle-summary-table-head--wrong span {
  border-top-left-radius: 0.4em;
  background-color: var(--medium-red-border);
  /*background-color: grey;*/
  z-index: 2;
  position: relative;
  border-color: var(--light-red-bg);
}

.grammle-summary-table-head--correct span {
  border-top-right-radius: 0.4em;
  background-color: var(--medium-green-border);
  z-index: 2;
  position: relative;
  border-color: var(--light-green-bg);
}

.grammle-summary-table-wrong,
.grammle-summary-table-correct {
  padding-block: 1em;
  padding-inline: 0.8em;
}

.grammle-summary-table-head-margin {

}

.grammle-summary-table-head-margin-inner {
  /*display: block;
  width: 100%;
  height: 73px;
  margin-bottom: -73px;
  background-color: var(--light-bg);
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;*/
}

.grammle-summary-table-head-margin::before {
  display: block;
  width: 100%;
  height: 73px;
  margin-bottom: -73px;
  content: "";
  background-color: var(--light-bg);
  position: relative;
  z-index: 4;
  transform: translate(0,-70%);
}

.grammle-summary-table-head-margin::after {
  display: block;
  width: 100%;
  height: 73px;
  content: "";
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
  transform: translate(0,20%);
}

.grammle-summary-table-link {
  padding-left: 0.4em;
}

.grammle-summary-table-mistake:last-child .grammle-summary-table-wrong {
  border-bottom-left-radius: 0.4em;
}

.grammle-summary-table-mistake:last-child .grammle-summary-table-correct {
  border-bottom-right-radius: 0.4em;
}

.grammle-summary-table-id {
  padding-right: 0.4em;
  font-family: var(--main-font-black);
  text-transform: uppercase;
}

.grammle-summary-table-id a {
  color: var(--text-grey-light);
  transition: var(--hover-transition);
  font-style: normal;
  text-decoration: none;
}

.grammle-summary-table-id a:hover {
  transition: var(--hover-transition);
  color: var(--anchor-grey);
}

.grammle-summary-table-mistake:first-child .grammle-summary-table-id,
.grammle-summary-table-mistake:first-child .grammle-summary-table-link {
  /*position: relative;
  top: 0;
  left: 0;*/
  z-index: 1;
}

.grammle-summary-table-wrong {
    background-color: var(--light-red-bg);
}

.grammle-summary-table-wrong--warnung {
  background-color: var(--light-yellow-bg);
}

.grammle-summary-table-wrong--info {
  background-color: var(--light-blue-bg);
}

.grammle-summary-table-wrong--verbrannt {
  background-color: var(--light-brown-bg);
}

.grammle-summary-table-wrong a {
  color: var(--dark-red-text);
  text-decoration: none;
}

.grammle-summary-table-wrong--warnung a {
  color: var(--dark-yellow-text);
}

.grammle-summary-table-wrong--info a {
  color: var(--dark-blue-text);
}

.grammle-summary-table-wrong--verbrannt a {
  color: var(--dark-brown-text);
}

.grammle-summary-table-correct {
  background-color: var(--light-green-bg);
}

.grammle-summary-table-correct a {
  background-color: var(--light-green-bg);
  color: var(--dark-green-text);
  text-decoration: none;
}

.grammle-summary-table-link i {
  color: var(--text-grey-light);
  font-size: 1.8em;
  transition: var(--hover-transition);
}

.grammle-summary-table-link i:hover {
  color: var(--anchor-grey);
}