.teaser {
  display: block;
  width: fit-content;
  max-width: 600px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 60px;
}

.teaser-inner .grammle-card {
  margin: auto;
  width: fit-content;
  max-width: 400px;
}

.teaser-inner {
  display: flex;
  flex-direction: column;
}
