<div class="article-types-container">
  <span class="normal-card-categories article-types">
    <a href="/arten/fehler/" class="grammle-label normal-card-types normal-card-mistake">
      <i class="bi bi-x-circle"></i>
      <i class="normal-card-type-text">Falsch</i>
    </a>
  </span>

  <span class="normal-card-categories article-types">
    <a href="/arten/warnung/" class="grammle-label normal-card-types normal-card-warning">
      <i class="bi bi-exclamation-diamond"></i>
      <i class="normal-card-type-text">Eher falsch</i>
    </a>
  </span>

  <span class="normal-card-categories article-types">
    <a href="/arten/info/" class="grammle-label normal-card-types normal-card-info">
      <i class="bi bi-hand-thumbs-down"></i>
      <i class="normal-card-type-text">Nicht empfohlen</i>
    </a>
  </span>
</div>
