<div class="contact-widget">
  <div class="contact-widget-icon">
    <i class="bi bi-chat-dots"></i>
  </div>

  <div class="contact-widget-label">
    <span class="contact-widget-label-text">
      <a title="Schreib mir über Matrix!" class="contact-widget-label-link" href="https://matrix.to/#/@pixelcode:tchncs.de">@pixelcode:tchncs.de</a>
      <a title="Verifiziert mit Keyoxide" class="contact-widget-label-icon" href="https://keyoxide.org/AEEF8CDB5ADF2F28016F39E1FBFC237DAF98D402">
        <i class="bi bi-patch-check-fill"></i>
      </a>
    </span>
  </div>
</div>
