{{ $anchorized := anchorize .Inner }}
{{ $fullUnderline := .Get 1 }}

<h{{ .Get 0 }} class="headline headline-{{ $fullUnderline }}" id="{{ $anchorized }}">
  <span class="headline-text-outer">
    <a class="headline-text" href="#{{ $anchorized }}">{{ .Inner }}</a>
  </span>

  {{ if ne (.Get 0) "1" }}
    <a class="headline-anchor" href="#{{ $anchorized }}"><i class="fa-solid fa-hashtag"></i></a>
  {{ end }}
</h{{ .Get 0 }}>
