<div class="normal-categories">
  {{ range .Site.Taxonomies.kategorien.ByCount }}
    <span class="normal-card-categories">
      <a href="/kategorien/{{ .Name }}/" class="grammle-card-categories grammle-label grammle-label-{{ substr .Name 0 1 }}">
      {{ .Name }}
      </a>
    </span>
  {{ end }}
</div>
