<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head" . }}

	<body>

  {{ partial "mobilemenu" . }}

  {{ partial "header" . }}

  {{ partial "main-left" . }}

  {{ block "main" . }} {{ end }}

  {{ partial "mobileBottomTitle" . }}

  </body>
</html>
