{{ define "main" }}

		<div class="main-right main-right-normal">
			<article>
				{{ .Content }}

        {{ range site.Data.changelog.changelog }}
					{{ $date := .date }}
          <h1 class="headline headline-changelog" id="{{ .date }}">
            <span class="headline-text-outer">
              <a class="headline-text" href="#{{ .date }}">{{ time.Format "2. January 2006" $date }}</a>
            </span>
          </h1>

          {{ range .changes }}
						{{ $colourClass := "" }}

						{{ if (isset . "id") }}
							{{ $colourClass = print "changelog-item-" (substr .id 0 1) }}
						{{ end }}

						{{ if (isset . "category") }}
							{{ $colourClass = print "changelog-item-" (substr .category 0 1) }}
						{{ end }}

						{{ if (isset . "type") }}
							{{ $colourClass = print "changelog-item-" .type }}
						{{ end }}

						{{ if eq .title "Frohe Weihnachten!" }}
							{{ with resources.Get "img/own/christmas.png" }}
								{{ with .Resize (printf "%dx%d webp" .Width .Height) }}
									<img title="Frohe Weihnachten!" class="banner-img banner-img-christmas" src="{{ .Permalink }}" alt="„Frohe Weihnachten! Ein friedliches und fehlerfreies Weihnachtsfest wünscht euch Grammle. Unsicher? Im Zweifel bei Grammle nachsehen!">
								{{ end }}
							{{ end }}
						{{ else }}
	            <div>
	              <div class="changelog-item {{ $colourClass }}">
									{{ if (strings.HasSuffix $date "12-24") }}
										<span class="changelog-item-icon"><i class="fa-solid fa-gift"></i></span>
									{{ end }}

	                <a class="changelog-item-title">{{ .title }}</a>
	                <div class="changelog-item-description">{{ .description | markdownify }}</div>
	                {{ if (isset . "url") }}<a class="changelog-more-info" href="{{ .url }}" title="Weitere Informationen">Mehr erfahren <i class="fa-solid fa-circle-chevron-right"></i></a>{{ end }}
								</div>
	            </div>
						{{ end }}
          {{ end }}
        {{ end }}
			</article>
		</div>

{{ end }}