{{ define "main" }}

		<div class="main-right">
			<div class="main-right-inner main-right-inner-single-list">
        {{ range (where (.Site.RegularPages.ByParam "orderID") "Section" "regeln") }}
					{{ partial "grammle-card.html" (dict "context" . "kind" "list") }}
				{{ end }}
			</div>
		</div>

{{ end }}