<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" (dict "head" . "headType" "form") }}

	<body>

  {{ partial "mobilemenu" . }}

  {{ partial "header" . }}

  {{ partial "main-left" . }}

  <div class="main-right main-right-normal">
    <article>
      {{ .Content }}

      <!--
        <br><br>
        <a id="hashRules">Add UIDs to rules</a>
        <br><br>
      -->

      {{ partial "new-form" . }}
    </article>
  </div>

  {{ partial "new-form-single-edit.html" . }}

  {{ partial "mobileBottomTitle" . }}

  </body>
</html>
