{{ define "main" }}

		<div class="main-right main-right-normal">
			<article>
				{{ .Content }}

				{{ range (site.RegularPages.ByParam "orderID") }}
					{{ if eq .Section "regeln" }}
						<quote><span><b>Falsch</b>:</span> »{{ .Params.wrongex | markdownify }}«</quote>
						<br><br>
					{{ end }}
				{{ end }}
			</article>
		</div>

{{ end }}