{{ define "main" }}

		<div class="main-right main-right-visible">
			<div class="main-right-inner main-right-inner-small">
				<div class="main-right-inner-left main-right-inner-left-small">
					{{ range $i, $p := (.Pages.ByParam "orderID") }}
						{{ if (modBool $i 2) }}
							{{ partial "grammle-card.html" (dict "context" . "kind" "small") }}
						{{ end }}
					{{end}}
				</div>

				<div class="main-right-inner-right main-right-inner-left-small">
					{{ range $i, $p := (.Pages.ByParam "orderID") }}
						{{ if not (modBool $i 2) }}
							{{ partial "grammle-card.html" (dict "context" . "kind" "small") }}
						{{ end }}
					{{end}}
				</div>
			</div>
		</div>

		<div class="main-right main-right-hidden">
			<div class="main-right-inner main-right-inner-single-list">
        {{ range (.Pages.ByParam "orderID") }}
					{{ partial "grammle-card.html" (dict "context" . "kind" "small") }}
				{{end}}
			</div>
		</div>

{{ end }}
