<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
  <head>
    <title>{{ site.BaseURL }}/{{ .Params.redirect }}/</title>

    <link rel="canonical" href="{{ site.BaseURL }}/{{ .Params.redirect }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ site.BaseURL }}/{{ .Params.redirect }}">
  </head>
</html>