{{ define "main" }}

		<div class="main-right">
			<div class="main-right-inner main-right-inner-single">

				{{ $pages := sort (where .Site.RegularPages "Section" "regeln") ".Params.orderID" "desc" }}
				{{ $hasPrev := false }}
				{{ $hasNext := false }}

				{{ with $pages.Prev . }}
					{{ $hasPrev = true }}

					<span class="card-arrow previous-left">
						<a href="{{ .Permalink }}" title="Vorherige Regel">
							<i class="fa-solid fa-circle-chevron-left"></i>
						</a>
					</span>
				{{ end }}

				{{ if eq $hasPrev false }}
					<span class="card-arrow card-arrow-invisible"></span>
				{{ end }}

				{{ partial "grammle-card.html" (dict "context" . "kind" "single") }}

				{{ with $pages.Next . }}
					{{ $hasNext = true }}

					<span class="card-arrow previous-right">
						<a href="{{ .Permalink }}" title="Nächste Regel">
							<i class="fa-solid fa-circle-chevron-right"></i>
						</a>
					</span>
				{{ end }}

				{{ if eq $hasNext false }}
					<span class="card-arrow card-arrow-invisible"></span>
				{{ end }}

				<div class="card-random-container">
					{{ partial "randomButton.html" }}
				</div>

				<div class="card-arrow-lower-container">
					{{ if eq $hasPrev true }}
						<span class="card-arrow card-arrow-lower card-arrow-lower-left">
							<a href="{{ with $pages.Prev . }}{{ .Permalink }}{{ end }}" title="Vorherige Regel">
								<i class="fa-solid fa-circle-chevron-left"></i>
							</a>
						</span>

					{{ else }}
						<span class="card-arrow card-arrow-lower-invisible"></span>
					{{ end }}

					<div class="card-random-container-lower">
						{{ partial "randomButton.html" }}
					</div>

					{{ if eq $hasNext true }}
						<span class="card-arrow card-arrow-lower card-arrow-lower-right">
							<a href="{{ with $pages.Next . }}{{ .Permalink }}{{ end }}" title="Nächste Regel">
								<i class="fa-solid fa-circle-chevron-right"></i>
							</a>
						</span>

					{{ else }}
						<span class="card-arrow card-arrow-lower-invisible"></span>
					{{ end }}
				</div>

			</div>
		</div>

{{ end }}
