{{ define "main" }}

		<div class="main-right main-right-normal">

			<div class="teaser">
				<div class="teaser-inner">
					<a class="banner-img-link-a" href="regeln/wider-besseres-wissen">
						<img title="Mehr erfahren" class="banner-img banner-img-link" src="/img/banner.png" alt="„Wider besseren Wissens ging er nach draußen, wo das Unwetter bereits erbarmungslos tobte.“ – Schön geschrieben. Trotzdem falsch. Darum nächstes Mal bei Grammle nachsehen.">
					</a>

					{{ range where .Site.RegularPages "Params.featured" "true" }}
					  {{ .Render "grammle-card-small" }}
					{{end}}
				</div>
			</div>

			<article>
				{{ .Content }}
			</article>
		</div>

{{ end }}
