{{ define "main" }}

		<div class="main-right main-right--summary-table">
			<div class="main-right-inner main-right-inner-single-list main-right-inner-summary">

        <table class="grammle-summary-table">
          <thead>
            <tr class="grammle-summary-table-head-tr">
              <td class="grammle-summary-table-head grammle-summary-table-head-margin grammle-summary-table-head--id">
                <div class="grammle-summary-table-head-margin-inner">
									<!--<i class="bi bi-hash"></i>-->
								</div>
              </td>

              <td class="grammle-card-content-headline grammle-card-content-headline-wrong grammle-summary-table-head grammle-summary-table-head--wrong">
								<span class="grammle-summary-table-head-inner">
									<i class="bi bi-x-circle"></i>
	                <a class="grammle-card-content-headline-text">Falsch</a>
								</span>
              </td>

              <td class="grammle-card-content-headline grammle-card-content-headline-correct grammle-summary-table-head grammle-summary-table-head--correct">
								<span class="grammle-summary-table-head-inner">
									<i class="bi bi-check-circle"></i>
	                <a title="Damit machst du keinen Fehler" class="grammle-card-content-headline-text">Richtig</a>
								</span>
							</td>

              <td class="grammle-summary-table-head grammle-summary-table-head-margin grammle-summary-table-head--link">
								<div class="grammle-summary-table-head-margin-inner">
									<!--<i class="bi bi-link-45deg"></i>-->
								</div>
              </td>
            </tr>
          </thead>

          <tbody>
            {{ range (where (.Site.RegularPages.ByParam "orderID") "Section" "regeln") }}
      			  <tr class="grammle-summary-table-mistake">
                <td class="grammle-summary-table-id">
									<a href="{{ .Permalink }}">{{ .Params.id }}</a>
								</td>

                <td class="grammle-summary-table-wrong grammle-summary-table-wrong--{{ .Params.arten }}">
                  <a href="{{ .Permalink }}">{{ .Params.wrong | safeHTML }}</a>
                </td>

                <td class="grammle-summary-table-correct">
                  <a href="{{ .Permalink }}">{{ .Params.correct | safeHTML }}</a>
                </td>

                <td class="grammle-summary-table-link">
                  <a href="{{ .Permalink }}"><i class="fa-solid fa-circle-chevron-right"></i></a>
                </td>
              </tr>
      			{{end}}
          </tbody>

        </table>

			</div>
		</div>

{{ end }}