{{ define "main" }}

		<div class="main-right main-right-normal">
			<div class="main-right-inner main-right-inner-normal">

				<div class="normal-card">
					<div class="normal-card-title-container">
						<a class="normal-card-title">Grammle-Kategorien</a>
					</div>

					<div class="normal-card-content">

						{{ range .Site.Taxonomies.kategorien.ByCount }}
							<span class="normal-card-categories">
								<a href="{{ site.BaseURL }}/kategorien/{{ .Name }}/" class="grammle-card-categories grammle-label grammle-label-{{ substr .Name 0 1 }}">
					      	{{ .Name }}
								</a>

								<a class="normal-card-categories-count">{{ .Count }}</a>
							</span>
						{{ end }}

						</div>
				</div>
				
				<div class="normal-card">
					<div class="normal-card-title-container">
						<a class="normal-card-title">Fehlerarten</a>
					</div>

					<div class="normal-card-content">
						<span class="normal-card-categories">
							<a href="{{ site.BaseURL }}/arten/fehler/" class="grammle-label normal-card-types normal-card-mistake">
								<i class="bi bi-x-circle"></i>
								<i class="normal-card-type-text">Falsch</i>
							</a>

							<a class="normal-card-categories-count">{{ .Site.Taxonomies.arten.fehler.Count }}</a>
						</span>

						<span class="normal-card-categories">
							<a href="{{ site.BaseURL }}/arten/warnung/" class="grammle-label normal-card-types normal-card-warning">
								<i class="bi bi-exclamation-diamond"></i>
								<i class="normal-card-type-text">Eher falsch</i>
							</a>

							<a class="normal-card-categories-count">{{ .Site.Taxonomies.arten.warnung.Count }}</a>
						</span>

						<span class="normal-card-categories">
							<a href="{{ site.BaseURL }}/arten/info/" class="grammle-label normal-card-types normal-card-info">
								<i class="bi bi-hand-thumbs-down"></i>
								<i class="normal-card-type-text">Nicht empfohlen</i>
							</a>

							<a class="normal-card-categories-count">{{ .Site.Taxonomies.arten.info.Count }}</a>
						</span>

						<span class="normal-card-categories">
							<a href="{{ site.BaseURL }}/arten/verbrannt/" class="grammle-label normal-card-types normal-card-verbrannt">
								<i class="fa-solid fa-skull"></i>
								<i class="normal-card-type-text">Verbrannt</i>
							</a>

							<a class="normal-card-categories-count">{{ .Site.Taxonomies.arten.verbrannt.Count }}</a>
						</span>
					</div>
				</div>
			</div>
		</div>

{{ end }}
